# MM&A Supermarket Case

## 1. Exploring the Data (EDA)

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
# reading in the csv file into a dataframe
file = 'mma_mart.csv'
df = pd.read_csv(file)

In [3]:
# observing the data structure
df.head()

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods

In [4]:
# finding the shape of the data set (row and column)
df.shape

(987259, 7)

The data shows 987259 rows and 7 columns.

In [5]:
# finding amount of unique entries in each column
df.nunique()

order_id         97833
product_id       35070
product_name     35070
aisle_id           134
aisle              134
department_id       21
department          21
dtype: int64

There are ~98000 orders and ~35000 unique products which is across 134 aisles that belong to 21 departments. This shows that selecting 1000-1200 products for the instabasket aisle is selecting only 1000/35000 = ~3% of the total product selection offered at MM&A supermarket.

Next, exploring the aisle and departments to maybe gain some insight on what products should be considered as refrigerant and frozen products.

In [6]:
df['aisle'].unique()

array(['yogurt', 'other creams cheeses', 'fresh vegetables',
       'canned meat seafood', 'fresh fruits', 'packaged cheese', 'eggs',
       'spices seasonings', 'oils vinegars', 'baking ingredients',
       'doughs gelatins bake mixes', 'spreads',
       'packaged vegetables fruits', 'soy lactosefree', 'poultry counter',
       'bread', 'breakfast bakery', 'cold flu allergy',
       'energy granola bars', 'breakfast bars pastries', 'chips pretzels',
       'trail mix snack mix', 'crackers', 'refrigerated',
       'energy sports drinks', 'salad dressing toppings',
       'prepared soups salads', 'milk', 'paper goods',
       'water seltzer sparkling water', 'kosher foods',
       'packaged poultry', 'instant foods', 'packaged produce',
       'cookies cakes', 'candy chocolate', 'body lotions soap',
       'dry pasta', 'laundry', 'air fresheners candles', 'frozen produce',
       'buns rolls', 'canned fruit applesauce', 'juice nectars',
       'granola', 'fresh herbs', 'baby food formula',
       'canned meals beans', 'cream', 'meat counter', 'frozen meals',
       'fresh dips tapenades', 'soup broth bouillon',
       'frozen meat seafood', 'frozen appetizers sides', 'dog food care',
       'beers coolers', 'preserved dips spreads', 'spirits',
       'soft drinks', 'coffee', 'frozen breakfast', 'cereal',
       'frozen breads doughs', 'asian foods', 'soap', 'popcorn jerky',
       'bulk dried fruits vegetables', 'butter', 'condiments',
       'nuts seeds dried fruit', 'hot dogs bacon sausage',
       'prepared meals', 'tofu meat alternatives', 'lunch meat',
       'food storage', 'frozen vegan vegetarian', 'oral hygiene',
       'ice cream ice', 'frozen pizza', 'canned jarred vegetables',
       'pasta sauce', 'tea', 'grains rice dried goods',
       'refrigerated pudding desserts', 'bakery desserts',
       'specialty cheeses', 'mint gum', 'trash bags liners',
       'honeys syrups nectars', 'muscles joints pain relief',
       'tortillas flat bread', 'fruit vegetable snacks',
       'plates bowls cups flatware', 'marinades meat preparation',
       'kitchen supplies', 'frozen dessert', 'more household',
       'hair care', 'seafood counter', 'frozen juice', 'beauty',
       'bulk grains rice dried goods', 'missing', 'pickled goods olives',
       'other', 'cleaning products', 'ice cream toppings', 'fresh pasta',
       'dish detergents', 'latino foods', 'deodorants',
       'packaged seafood', 'facial care', 'baby bath body care',
       'feminine care', 'vitamins supplements', 'digestion',
       'cat food care', 'protein meal replacements',
       'hot cereal pancake mixes', 'baking supplies decor', 'shave needs',
       'red wines', 'packaged meat', 'baby accessories',
       'cocoa drink mixes', 'indian foods', 'diapers wipes', 'first aid',
       'white wines', 'eye ear care', 'skin care',
       'specialty wines champagnes'], dtype=object)

As can be seen from the aisle names, there are aisles with "frozen" such as `frozen produce` or `frozen meat seafood` in it which all products listed under these aisles would be considered for the 100 frozen product for instabasket. The same can't be said for refridgerant as there a lot of aisles to parse through so it might be better to look at the department to determine what department contains refridgerant products.

In [7]:
df['department'].unique()

array(['dairy eggs', 'produce', 'canned goods', 'pantry', 'meat seafood',
       'bakery', 'personal care', 'snacks', 'breakfast', 'beverages',
       'deli', 'household', 'international', 'dry goods pasta', 'frozen',
       'babies', 'pets', 'alcohol', 'bulk', 'missing', 'other'],
      dtype=object)

From the look at department names, `dairy eggs`, `produce`, `meat seafood`, `deli`, `frozen`, `missing` and `other` are all potential products for fridge and freezer space so it might be better to take a closer look at the products in those department.

In [8]:
dept_list = ['dairy eggs', 'produce', 'meat seafood', 'deli', 'frozen', 'missing', 'other']

In [9]:
# looking at products and aisles of those products for insight as well as how many products each department had
for department in dept_list:
    print(f"Department: {department}")
    print(f"Number of products: {df[df['department']==department]['product_name'].nunique()}\n")
    display(df[df['department']==department][['product_name', 'aisle']])

Department: dairy eggs
Number of products: 2886

,product_name,aisle
0,Bulgarian Yogurt,yogurt
1,Organic 4% Milk Fat Whole Milk Cottage Cheese,other creams cheeses
7,Organic Whole String Cheese,packaged cheese
8,Organic Egg Whites,eggs
17,Total 2% with Strawberry Lowfat Greek Strained...,yogurt
...,...,...
987240,Large Grade AA Organic Eggs,eggs
987241,Reduced Fat Mozarella String Cheese,packaged cheese
987242,Vanilla Light & Fit Greek Yogurt,yogurt
987243,Non-Fat Vanilla Blended Greek Yogurt,yogurt
987254,Total 2% All Natural Plain Greek Yogurt,yogurt

Department: produce
Number of products: 1437

                     product_name                       aisle
2           Organic Celery Hearts            fresh vegetables
3                  Cucumber Kirby            fresh vegetables
5          Bag of Organic Bananas                fresh fruits
6            Organic Hass Avocado                fresh fruits
9           Michigan Organic Kale            fresh vegetables
...                           ...                         ...
987245                Gala Apples                fresh fruits
987246       Organic Yellow Onion            fresh vegetables
987247       Organic Baby Carrots  packaged vegetables fruits
987249       Organic Baby Spinach  packaged vegetables fruits
987250  Garnet Sweet Potato (Yam)            fresh vegetables

[288775 rows x 2 columns]

Department: meat seafood
Number of products: 692

,product_name,aisle
23,Air Chilled Organic Boneless Skinless Chicken ...,poultry counter
46,Boneless Skinless Chicken Breast Fillets,packaged poultry
97,Boneless Beef Sirloin Steak,meat counter
176,Low Sodium Bacon,hot dogs bacon sausage
204,Boneless And Skinless Chicken Breast,poultry counter
...,...,...
986977,Organic Air Chilled Whole Chicken,poultry counter
987067,Natural Hickory Smoked Canadian Bacon Center C...,hot dogs bacon sausage
987068,All Natural Boneless & Skinless Chicken Breast...,packaged poultry
987175,Organic Air Chilled Whole Chicken,poultry counter
987179,Organic Beef Uncured Hot Dogs,hot dogs bacon sausage

Department: deli
Number of products: 1069

                                  product_name                   aisle
40                           Fresh Fruit Salad   prepared soups salads
101                      Mango Pineapple Salsa    fresh dips tapenades
179     Basil, Asiago & Pine Nut Pesto Ravioli          prepared meals
191                             Yuba Tofu Skin  tofu meat alternatives
192                          Organic Firm Tofu  tofu meat alternatives
...                                        ...                     ...
987153                    Spicy Avocado Hummus    fresh dips tapenades
987158                               Guacamole    fresh dips tapenades
987199                           Guacamole Dip    fresh dips tapenades
987204                         Original Hummus    fresh dips tapenades
987253                         Original Hummus    fresh dips tapenades

[32008 rows x 2 columns]

Department: frozen
Number of products: 3127

                                         product_name                    aisle
68                                   Pineapple Chunks           frozen produce
100            Teriyaki & Pineapple Chicken Meatballs             frozen meals
114     All Natural Boneless Skinless Chicken Breasts      frozen meat seafood
118                           Combination Pizza Rolls  frozen appetizers sides
135                    Organic Mini Homestyle Waffles         frozen breakfast
...                                               ...                      ...
987176                 Organic Ice Cream Vanilla Bean            ice cream ice
987180   Dairy Free Coconut Milk Frozen Dessert Minis            ice cream ice
987184                           Organic Mango Chunks           frozen produce
987210                            Bag of Large Lemons      frozen meat seafood
987215                              Vanilla Ice Cream            ice cream ice

[68202 rows x 2 columns]

Department: missing
Number of products: 518

                                         product_name    aisle
654                          Tomato Basil Bisque Soup  missing
1511      Cold Pressed Watermelon & Lemon Juice Blend  missing
1512                           Paleo Blueberry Muffin  missing
2126    Magic Tape Refillable Dispenser 3/4\" x 850\"  missing
4121                           Organic Poblano Pepper  missing
...                                               ...      ...
986067                       Oatneal Cookie Ice Cream  missing
986086    Dairy Free Unsweetened Almond Milk Beverage  missing
986103                Organic Asian Chopped Salad Kit  missing
986275                                      Lemon Bag  missing
986276      Organic Nondairy Strawberry Cashew Yogurt  missing

[2289 rows x 2 columns]

Department: other
Number of products: 303

                                             product_name  aisle
691            Coffee Mate French Vanilla Creamer Packets  other
1077                        SleepGels Nighttime Sleep Aid  other
1926                             Roasted Unsalted Almonds  other
1985                         Camilia, Single Liquid Doses  other
2127    Maximum Strength Original Paste Diaper Rash Oi...  other
...                                                   ...    ...
983992                           Roasted Unsalted Almonds  other
984112                           Boneless Pork Tenderloin  other
984515                              Roasted Almond Butter  other
984534            Light CocoWhip! Coconut Whipped Topping  other
986326                                   93/7 Ground Beef  other

[1097 rows x 2 columns]

Looking at the results, products from `dairy eggs`, `meat seafood` `deli`, and some products from `missing` and `other` (would need to look at what exactly the product is since there was "Oatneal Cookie Ice Cream" in `missing` aisle which is a frozen item and "Boneless Pork Tenderloin" in `other` which is a `meat seafood` item) would be the departments that require refridgerant. Produce might not be a neccisity to be refridgerated as it can be stored at room temperature but only refridgerated to prolong shelf life so if there is a lot of demand for the produce, then it wouldn't be on the shelf for long but if there is low demand for it, then it might be better to not even have it as a selection so it might be a better idea to give the refridgerator space to the other aisles.

In [10]:
# Sanity check to see if aisles such as frozen produce are part of the frozen department or produce department
frozen_aisles = df[df['aisle'].str.contains('frozen', case=False)]['aisle'].unique()
print(frozen_aisles)

['frozen produce' 'frozen meals' 'frozen meat seafood'
 'frozen appetizers sides' 'frozen breakfast' 'frozen breads doughs'
 'frozen vegan vegetarian' 'frozen pizza' 'frozen dessert' 'frozen juice']

In [11]:
frozen_department = df[df['aisle'].str.contains('frozen', case=False)]['department'].unique()
print(frozen_department)

['frozen']

It is safe to assume that 100 products for the frozen products will be from the frozen department and maybe `missing` and `other` department.

In [12]:
# storing all frozen products into a variable
freezer_df = df[df['department']=='frozen']
freezer_df

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
68,7,46802,Pineapple Chunks,116,frozen produce,1,frozen
100,11,30162,Teriyaki & Pineapple Chicken Meatballs,38,frozen meals,1,frozen
114,12,38050,All Natural Boneless Skinless Chicken Breasts,34,frozen meat seafood,1,frozen
118,12,29471,Combination Pizza Rolls,129,frozen appetizers sides,1,frozen
135,14,162,Organic Mini Homestyle Waffles,52,frozen breakfast,1,frozen
...,...,...,...,...,...,...,...
987176,99993,43749,Organic Ice Cream Vanilla Bean,37,ice cream ice,1,frozen
987180,99993,5537,Dairy Free Coconut Milk Frozen Dessert Minis,37,ice cream ice,1,frozen
987184,99993,26128,Organic Mango Chunks,116,frozen produce,1,frozen
987210,99996,9434,Bag of Large Lemons,34,frozen meat seafood,1,frozen
987215,99996,32691,Vanilla Ice Cream,37,ice cream ice,1,frozen

In [13]:
# storing all fridge products into a variable
fridge_df = df[df['department'].isin(['dairy eggs', 'meat seafood', 'deli'])]
fridge_df

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
7,1,22035,Organic Whole String Cheese,21,packaged cheese,16,dairy eggs
8,2,33120,Organic Egg Whites,86,eggs,16,dairy eggs
17,3,33754,Total 2% with Strawberry Lowfat Greek Strained...,120,yogurt,16,dairy eggs
...,...,...,...,...,...,...,...
987241,99999,10034,Reduced Fat Mozarella String Cheese,21,packaged cheese,16,dairy eggs
987242,99999,44085,Vanilla Light & Fit Greek Yogurt,120,yogurt,16,dairy eggs
987243,99999,9558,Non-Fat Vanilla Blended Greek Yogurt,120,yogurt,16,dairy eggs
987253,100000,30489,Original Hummus,67,fresh dips tapenades,20,deli
987254,100000,30169,Total 2% All Natural Plain Greek Yogurt,120,yogurt,16,dairy eggs

In [14]:
# removing the freezer and fridge products from the main df as this will be for the 1000 in aisle product selection
remove_index = freezer_df.index.union(fridge_df.index)
filtered_df = df.drop(remove_index)
filtered_df

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods
5,1,13176,Bag of Organic Bananas,24,fresh fruits,4,produce
6,1,47209,Organic Hass Avocado,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
987252,100000,19508,Corn Tortillas,128,tortillas flat bread,3,bakery
987255,100000,38734,Wheat Sandwich Thins,128,tortillas flat bread,3,bakery
987256,100000,36759,Unscented Long Lasting Stick Deodorant,80,deodorants,11,personal care
987257,100000,37107,Ground Cumin,104,spices seasonings,13,pantry
987258,100000,31506,Extra Virgin Olive Oil,19,oils vinegars,13,pantry

In [15]:
# Sanity Check to see if the rows were removed correctly
freezer_df.shape[0] + fridge_df.shape[0] + filtered_df.shape[0] == df.shape[0]

True

In [16]:
# Check to see if the right departments are removed
filtered_df['department'].unique()

array(['produce', 'canned goods', 'pantry', 'bakery', 'personal care',
       'snacks', 'breakfast', 'beverages', 'household', 'international',
       'dry goods pasta', 'babies', 'pets', 'alcohol', 'bulk', 'missing',
       'other'], dtype=object)

It did remove the aisle correctly. We'll keep `missing` and `other` and see once products are within the top selections of product, if it should be placed in a fridge/freezer.

In [17]:
# Checking to see if a product appears multiple time in one order if multiple of the product is ordered 
df[df[['order_id', 'product_id']].duplicated()]

Empty DataFrame
Columns: [order_id, product_id, product_name, aisle_id, aisle, department_id, department]
Index: []

## 2. Product Selection

In [18]:
df['order_id'].nunique()

97833

In [19]:
train_order_ids = df['order_id'].sample(n=int(df['order_id'].nunique()*.8), random_state=1)
train_mask = df['order_id'].isin(train_order_ids)
train_set = df[train_mask]
train_set

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods
...,...,...,...,...,...,...,...
987254,100000,30169,Total 2% All Natural Plain Greek Yogurt,120,yogurt,16,dairy eggs
987255,100000,38734,Wheat Sandwich Thins,128,tortillas flat bread,3,bakery
987256,100000,36759,Unscented Long Lasting Stick Deodorant,80,deodorants,11,personal care
987257,100000,37107,Ground Cumin,104,spices seasonings,13,pantry
987258,100000,31506,Extra Virgin Olive Oil,19,oils vinegars,13,pantry

In [20]:
test_set = df[~train_mask]
test_set

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
17,3,33754,Total 2% with Strawberry Lowfat Greek Strained...,120,yogurt,16,dairy eggs
18,3,24838,Unsweetened Almondmilk,91,soy lactosefree,16,dairy eggs
19,3,17704,Lemons,123,packaged vegetables fruits,4,produce
20,3,21903,Organic Baby Spinach,123,packaged vegetables fruits,4,produce
21,3,17668,Unsweetened Chocolate Almond Breeze Almond Milk,91,soy lactosefree,16,dairy eggs
...,...,...,...,...,...,...,...
987239,99999,16953,Creamy Peanut Butter,88,spreads,13,pantry
987240,99999,36186,Large Grade AA Organic Eggs,86,eggs,16,dairy eggs
987241,99999,10034,Reduced Fat Mozarella String Cheese,21,packaged cheese,16,dairy eggs
987242,99999,44085,Vanilla Light & Fit Greek Yogurt,120,yogurt,16,dairy eggs
987243,99999,9558,Non-Fat Vanilla Blended Greek Yogurt,120,yogurt,16,dairy eggs

In [21]:
train_set.shape[0] + test_set.shape[0] == df.shape[0]

True

It is safe to assume that 100 products for the frozen products will be from the frozen department and maybe `missing` and `other` department.

In [22]:
# storing all frozen products into a variable
train_freezer = train_set[train_set['department']=='frozen']
train_freezer
test_freezer = test_set[test_set['department']=='frozen']
test_freezer

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
100,11,30162,Teriyaki & Pineapple Chicken Meatballs,38,frozen meals,1,frozen
114,12,38050,All Natural Boneless Skinless Chicken Breasts,34,frozen meat seafood,1,frozen
118,12,29471,Combination Pizza Rolls,129,frozen appetizers sides,1,frozen
165,18,28934,Frozen Broccoli Florets,116,frozen produce,1,frozen
216,23,13497,Gluten and Dairy Free Sonoma Veggie Burger,42,frozen vegan vegetarian,1,frozen
...,...,...,...,...,...,...,...
987011,99975,16351,Chicken & Cilantro Mini Wontons,129,frozen appetizers sides,1,frozen
987030,99977,49273,Light and Lean Quinoa Black Beans with Buttern...,38,frozen meals,1,frozen
987082,99982,2102,Hash Browns Country Style,52,frozen breakfast,1,frozen
987210,99996,9434,Bag of Large Lemons,34,frozen meat seafood,1,frozen
987215,99996,32691,Vanilla Ice Cream,37,ice cream ice,1,frozen

In [23]:
# storing all fridge products into a variable
train_fridge = train_set[train_set['department'].isin(['dairy eggs', 'meat seafood', 'deli'])]
train_fridge
test_fridge = test_set[test_set['department'].isin(['dairy eggs', 'meat seafood', 'deli'])]
test_fridge

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
17,3,33754,Total 2% with Strawberry Lowfat Greek Strained...,120,yogurt,16,dairy eggs
18,3,24838,Unsweetened Almondmilk,91,soy lactosefree,16,dairy eggs
21,3,17668,Unsweetened Chocolate Almond Breeze Almond Milk,91,soy lactosefree,16,dairy eggs
23,3,17461,Air Chilled Organic Boneless Skinless Chicken ...,35,poultry counter,12,meat seafood
73,9,2014,Low Fat Kefir Cultured Milk Smoothie Lowfat Pr...,120,yogurt,16,dairy eggs
...,...,...,...,...,...,...,...
987213,99996,26900,USDA AA Extra Large Eggs,86,eggs,16,dairy eggs
987240,99999,36186,Large Grade AA Organic Eggs,86,eggs,16,dairy eggs
987241,99999,10034,Reduced Fat Mozarella String Cheese,21,packaged cheese,16,dairy eggs
987242,99999,44085,Vanilla Light & Fit Greek Yogurt,120,yogurt,16,dairy eggs
987243,99999,9558,Non-Fat Vanilla Blended Greek Yogurt,120,yogurt,16,dairy eggs

In [24]:
train_set

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods
...,...,...,...,...,...,...,...
987254,100000,30169,Total 2% All Natural Plain Greek Yogurt,120,yogurt,16,dairy eggs
987255,100000,38734,Wheat Sandwich Thins,128,tortillas flat bread,3,bakery
987256,100000,36759,Unscented Long Lasting Stick Deodorant,80,deodorants,11,personal care
987257,100000,37107,Ground Cumin,104,spices seasonings,13,pantry
987258,100000,31506,Extra Virgin Olive Oil,19,oils vinegars,13,pantry

In [25]:
remove_index

Index([     0,      1,      7,      8,     17,     18,     21,     23,     40,
           42,
       ...
       987215, 987218, 987229, 987233, 987240, 987241, 987242, 987243, 987253,
       987254],
      dtype='int64', length=286266)

In [26]:
# removing the freezer and fridge products from the main df as this will be for the 1000 in aisle product selection
remove_index = train_freezer.index.union(train_fridge.index)
train_aisle = train_set.drop(remove_index)
remove_index2 = test_freezer.index.union(test_fridge.index)
test_aisle = test_set.drop(remove_index2)

In [27]:
# # import the library needed to split
# from sklearn.model_selection import train_test_split

# # splitting the data 
# train_aisle, test_aisle = train_test_split(filtered_df, test_size=0.2, random_state=1)
# train_freezer, test_freezer = train_test_split(freezer_df, test_size=0.2, random_state=1)
# train_fridge, test_fridge = train_test_split(fridge_df, test_size=0.2, random_state=1)

In [28]:
# Sanity check
train_aisle

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods
5,1,13176,Bag of Organic Bananas,24,fresh fruits,4,produce
6,1,47209,Organic Hass Avocado,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
987252,100000,19508,Corn Tortillas,128,tortillas flat bread,3,bakery
987255,100000,38734,Wheat Sandwich Thins,128,tortillas flat bread,3,bakery
987256,100000,36759,Unscented Long Lasting Stick Deodorant,80,deodorants,11,personal care
987257,100000,37107,Ground Cumin,104,spices seasonings,13,pantry
987258,100000,31506,Extra Virgin Olive Oil,19,oils vinegars,13,pantry

In [29]:
# Sanity Check
test_aisle

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
19,3,17704,Lemons,123,packaged vegetables fruits,4,produce
20,3,21903,Organic Baby Spinach,123,packaged vegetables fruits,4,produce
22,3,46667,Organic Ginger Root,83,fresh vegetables,4,produce
24,3,32665,Organic Ezekiel 49 Bread Cinnamon Raisin,112,bread,3,bakery
64,6,40462,Cleanse,31,refrigerated,7,beverages
...,...,...,...,...,...,...,...
987235,99998,3178,"Healthy Trinity, 3 in 1, Capsules",70,digestion,11,personal care
987236,99999,8424,Broccoli Crown,83,fresh vegetables,4,produce
987237,99999,22839,Grainiac Organic Bread,112,bread,3,bakery
987238,99999,40897,Kale,123,packaged vegetables fruits,4,produce
987239,99999,16953,Creamy Peanut Butter,88,spreads,13,pantry

### Method 2: Product Selection Proportional to Aisle Selection

This second method is to get a variety of items from each aisle proportional to the amount of orders for that aisle.

In [30]:
# finding the total amount of products ordered
train_size = train_aisle.shape[0]
train_size

459391

In [31]:
# finding the amount of items ordered for each aisle
aisle_info=train_aisle.groupby('aisle').size().reset_index(name='count').sort_values(by='count', ascending=False)
aisle_info

                            aisle  count
46                   fresh fruits  71703
49               fresh vegetables  70817
74     packaged vegetables fruits  35881
99  water seltzer sparkling water  14954
24                 chips pretzels  14570
..                            ...    ...
90     specialty wines champagnes    166
2                baby accessories    165
3             baby bath body care    146
41                   eye ear care    144
8                          beauty    112

[101 rows x 2 columns]

In [32]:
aisle_info['percentage']=aisle_info['count']/train_size*100
aisle_info

                            aisle  count  percentage
46                   fresh fruits  71703   15.608273
49               fresh vegetables  70817   15.415409
74     packaged vegetables fruits  35881    7.810558
99  water seltzer sparkling water  14954    3.255179
24                 chips pretzels  14570    3.171590
..                            ...    ...         ...
90     specialty wines champagnes    166    0.036135
2                baby accessories    165    0.035917
3             baby bath body care    146    0.031781
41                   eye ear care    144    0.031346
8                          beauty    112    0.024380

[101 rows x 3 columns]

In [33]:
aisle_info

                            aisle  count  percentage
46                   fresh fruits  71703   15.608273
49               fresh vegetables  70817   15.415409
74     packaged vegetables fruits  35881    7.810558
99  water seltzer sparkling water  14954    3.255179
24                 chips pretzels  14570    3.171590
..                            ...    ...         ...
90     specialty wines champagnes    166    0.036135
2                baby accessories    165    0.035917
3             baby bath body care    146    0.031781
41                   eye ear care    144    0.031346
8                          beauty    112    0.024380

[101 rows x 3 columns]

In [34]:
# Creating a mapping to add department into the aisle and count dataframe
train_aisle_mapping = train_aisle[['aisle', 'department']]
train_aisle_mapping = train_aisle_mapping.drop_duplicates()
train_aisle_mapping

                            aisle     department
2                fresh vegetables        produce
4             canned meat seafood   canned goods
5                    fresh fruits        produce
10              spices seasonings         pantry
11                  oils vinegars         pantry
...                           ...            ...
12585                   skin care  personal care
14099                eye ear care  personal care
14481                 white wines        alcohol
17168  specialty wines champagnes        alcohol
20969                      beauty  personal care

[101 rows x 2 columns]

In [35]:
# Merge the 'aisle_count' dataframe with the 'department' column from 'train_aisle' based on the 'aisle' column
merged_df = aisle_info.merge(train_aisle_mapping, on='aisle', how='left')
merged_df

                             aisle  count  percentage     department
0                     fresh fruits  71703   15.608273        produce
1                 fresh vegetables  70817   15.415409        produce
2       packaged vegetables fruits  35881    7.810558        produce
3    water seltzer sparkling water  14954    3.255179      beverages
4                   chips pretzels  14570    3.171590         snacks
..                             ...    ...         ...            ...
96      specialty wines champagnes    166    0.036135        alcohol
97                baby accessories    165    0.035917         babies
98             baby bath body care    146    0.031781         babies
99                    eye ear care    144    0.031346  personal care
100                         beauty    112    0.024380  personal care

[101 rows x 4 columns]

Now that the percentage of orders from each aisle has been calculated, the next step would be to see how many items this would translate to for the 800 product aisle.

In [36]:
merged_df['amount'] = round((merged_df['percentage']/100)*800)

In [37]:
merged_df

                             aisle  count  percentage     department  amount
0                     fresh fruits  71703   15.608273        produce   125.0
1                 fresh vegetables  70817   15.415409        produce   123.0
2       packaged vegetables fruits  35881    7.810558        produce    62.0
3    water seltzer sparkling water  14954    3.255179      beverages    26.0
4                   chips pretzels  14570    3.171590         snacks    25.0
..                             ...    ...         ...            ...     ...
96      specialty wines champagnes    166    0.036135        alcohol     0.0
97                baby accessories    165    0.035917         babies     0.0
98             baby bath body care    146    0.031781         babies     0.0
99                    eye ear care    144    0.031346  personal care     0.0
100                         beauty    112    0.024380  personal care     0.0

[101 rows x 5 columns]

In [38]:
# Sanity Check to see if it equals 800
merged_df['amount'].sum()

792.0

It did not equal 800 due to rounding so 1 more product needs to be dropped. We'll just be dropping the aisle that is equal to 1 and lowest count.

In [39]:
# finding the aisle with an amount of 1 and least amount of orders
last_row = merged_df[merged_df['amount']==1].iloc[-1]
last_row[0]

'more household'

In [40]:
# Changing the amount of the last row to 0
merged_df.loc[merged_df['aisle'] == last_row[0], 'amount'] = 0

In [41]:
# Sanity Check
new_last_row = merged_df[merged_df['amount']==1].iloc[-1]
new_last_row[0]

'muscles joints pain relief'

Now that the amount of products needed for each aisle has been determined, the next step would be to find the top X (X as in amount) product for each aisle as in method 1.

In [42]:
products_df=train_aisle.groupby('product_name').size().reset_index(name='count').sort_values(by='count', ascending=False)
products_df

                                   product_name  count
1805                                     Banana   9028
1689                     Bag of Organic Bananas   7152
15517                      Organic Strawberries   5233
13564                      Organic Baby Spinach   4797
14476                      Organic Hass Avocado   4282
...                                         ...    ...
11630                   Medium Black Bean Salsa      1
11638   Medium Diced Tomatoes with Green Chilis      1
11641                 Medium Fire Roasted Salsa      1
11642        Medium Fire Roasted Tatemada Salsa      1
24033  with a Splash of Pineapple Coconut Water      1

[24034 rows x 2 columns]

In [43]:
product_mapping = train_aisle[['product_id', 'product_name', 'aisle_id', 'aisle', 'department_id', 'department']]

In [44]:
product_mapping = product_mapping.drop_duplicates(subset='product_name')

In [45]:
# products_df.set_index('product_name')

In [46]:
merged_df2 = products_df.merge(product_mapping, on='product_name', how='left')
merged_df2

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Banana,9028,24852,24,fresh fruits,4,produce
1,Bag of Organic Bananas,7152,13176,24,fresh fruits,4,produce
2,Organic Strawberries,5233,21137,24,fresh fruits,4,produce
3,Organic Baby Spinach,4797,21903,123,packaged vegetables fruits,4,produce
4,Organic Hass Avocado,4282,47209,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
24029,Medium Black Bean Salsa,1,49450,51,preserved dips spreads,13,pantry
24030,Medium Diced Tomatoes with Green Chilis,1,26934,81,canned jarred vegetables,15,canned goods
24031,Medium Fire Roasted Salsa,1,23242,51,preserved dips spreads,13,pantry
24032,Medium Fire Roasted Tatemada Salsa,1,18640,51,preserved dips spreads,13,pantry
24033,with a Splash of Pineapple Coconut Water,1,2987,98,juice nectars,7,beverages

In [47]:
merged_df

                             aisle  count  percentage     department  amount
0                     fresh fruits  71703   15.608273        produce   125.0
1                 fresh vegetables  70817   15.415409        produce   123.0
2       packaged vegetables fruits  35881    7.810558        produce    62.0
3    water seltzer sparkling water  14954    3.255179      beverages    26.0
4                   chips pretzels  14570    3.171590         snacks    25.0
..                             ...    ...         ...            ...     ...
96      specialty wines champagnes    166    0.036135        alcohol     0.0
97                baby accessories    165    0.035917         babies     0.0
98             baby bath body care    146    0.031781         babies     0.0
99                    eye ear care    144    0.031346  personal care     0.0
100                         beauty    112    0.024380  personal care     0.0

[101 rows x 5 columns]

In [48]:
# Selecting the 800 items for the aisle
result_df = pd.DataFrame()
for index, row in merged_df.iterrows():
    aisle_name = row['aisle']
    amount = int(row['amount'])
    display(merged_df2[merged_df2['aisle']==aisle_name].head(amount))
    result_df = pd.concat([result_df, merged_df2[merged_df2['aisle']==aisle_name].head(amount)])
result_df

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Banana,9028,24852,24,fresh fruits,4,produce
1,Bag of Organic Bananas,7152,13176,24,fresh fruits,4,produce
2,Organic Strawberries,5233,21137,24,fresh fruits,4,produce
4,Organic Hass Avocado,4282,47209,24,fresh fruits,4,produce
5,Organic Avocado,3493,47766,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
2346,Organic Honeydew,31,17123,24,fresh fruits,4,produce
2384,Organic Lady Alice Apples,31,27625,24,fresh fruits,4,produce
2466,Braeburn Apple,29,13997,24,fresh fruits,4,produce
2674,Small Cantaloupe,27,19086,24,fresh fruits,4,produce
2754,Organic Mandarins,26,14966,24,fresh fruits,4,produce

,product_name,count,product_id,aisle_id,aisle,department_id,department
10,Organic Yellow Onion,2250,22935,83,fresh vegetables,4,produce
11,Organic Garlic,2239,24964,83,fresh vegetables,4,produce
12,Organic Zucchini,2196,45007,83,fresh vegetables,4,produce
14,Cucumber Kirby,1936,49683,83,fresh vegetables,4,produce
17,Organic Cucumber,1744,30391,83,fresh vegetables,4,produce
...,...,...,...,...,...,...,...
560,Organic Whole White Mushrooms,122,41540,83,fresh vegetables,4,produce
576,Organic Broccoli Crown,119,13852,83,fresh vegetables,4,produce
602,Heirloom Tomato,115,25647,83,fresh vegetables,4,produce
633,Organic Cherry Tomatoes,110,22312,83,fresh vegetables,4,produce
637,Russet Potatoes,109,26882,83,fresh vegetables,4,produce

,product_name,count,product_id,aisle_id,aisle,department_id,department
3,Organic Baby Spinach,4797,21903,123,packaged vegetables fruits,4,produce
8,Organic Raspberries,2765,27966,123,packaged vegetables fruits,4,produce
13,Organic Blueberries,1949,39275,123,packaged vegetables fruits,4,produce
16,Organic Grape Tomatoes,1757,40706,123,packaged vegetables fruits,4,produce
20,Seedless Red Grapes,1630,4920,123,packaged vegetables fruits,4,produce
...,...,...,...,...,...,...,...
871,Spring Mix,83,47145,123,packaged vegetables fruits,4,produce
872,Organic Biologique Limes,83,18159,123,packaged vegetables fruits,4,produce
900,Cut & Peeled Baby Carrots,80,10613,123,packaged vegetables fruits,4,produce
901,Baby Cut Carrots,80,48299,123,packaged vegetables fruits,4,produce
939,Chopped Onions,78,25230,123,packaged vegetables fruits,4,produce

,product_name,count,product_id,aisle_id,aisle,department_id,department
31,Sparkling Water Grapefruit,1457,44632,115,water seltzer sparkling water,7,beverages
54,Spring Water,900,19660,115,water seltzer sparkling water,7,beverages
55,Lime Sparkling Water,882,35221,115,water seltzer sparkling water,7,beverages
63,Sparkling Natural Mineral Water,801,33198,115,water seltzer sparkling water,7,beverages
76,Italian Sparkling Mineral Water,636,5479,115,water seltzer sparkling water,7,beverages
80,Sparkling Lemon Water,612,21709,115,water seltzer sparkling water,7,beverages
94,Pure Sparkling Water,507,14947,115,water seltzer sparkling water,7,beverages
130,Peach Pear Flavored Sparkling Water,395,26620,115,water seltzer sparkling water,7,beverages
146,Electrolyte Enhanced Water,367,26165,115,water seltzer sparkling water,7,beverages
164,Sparkling Water Berry,335,20119,115,water seltzer sparkling water,7,beverages
173,Natural Spring Water,324,8859,115,water seltzer sparkling water,7,beverages
189,Sparkling Mineral Water,300,43154,115,water seltzer sparkling water,7,beverages
199,Orange Sparkling Water,282,49520,115,water seltzer sparkling water,7,beverages
230,Grapefruit Sparkling Water,249,47977,115,water seltzer sparkling water,7,beverages
250,Distilled Water,234,23288,115,water seltzer sparkling water,7,beverages
251,Water,232,25466,115,water seltzer sparkling water,7,beverages
298,Natural Artesian Water,205,14233,115,water seltzer sparkling water,7,beverages
299,Blackberry Cucumber Sparkling Water,205,39947,115,water seltzer sparkling water,7,beverages
331,Natural Artisan Water,188,1194,115,water seltzer sparkling water,7,beverages
340,Alpine Spring Water,186,27325,115,water seltzer sparkling water,7,beverages
341,Cran Raspberry Sparkling Water,185,49191,115,water seltzer sparkling water,7,beverages
344,Sparkling Water,185,5258,115,water seltzer sparkling water,7,beverages
375,Purified Water,174,15424,115,water seltzer sparkling water,7,beverages
416,Kiwi Sandia Sparkling Water,159,12576,115,water seltzer sparkling water,7,beverages
418,Lemon Sparkling Water,157,36316,115,water seltzer sparkling water,7,beverages
439,Smartwater,152,21386,115,water seltzer sparkling water,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
90,Lightly Salted Baked Snap Pea Crisps,547,13870,107,chips pretzels,19,snacks
150,Sea Salt Pita Chips,351,31040,107,chips pretzels,19,snacks
157,Pretzel Crisps Original Deli Style Pretzel Cra...,341,21376,107,chips pretzels,19,snacks
184,Sea Salt & Vinegar Potato Chips,308,40709,107,chips pretzels,19,snacks
219,Organic Blue Corn Tortilla Chips,267,13380,107,chips pretzels,19,snacks
229,Sea Salt Potato Chips,250,18288,107,chips pretzels,19,snacks
233,Aged White Cheddar Baked Rice & Corn Puffs Glu...,248,24841,107,chips pretzels,19,snacks
248,Pita Chips Simply Naked,236,25824,107,chips pretzels,19,snacks
305,Organic Tortilla Chips,202,35561,107,chips pretzels,19,snacks
349,Corn Chips,183,11576,107,chips pretzels,19,snacks
374,Original Real Vegetable Chips,174,20580,107,chips pretzels,19,snacks
376,Sweet Potato Tortilla Chips,174,8555,107,chips pretzels,19,snacks
380,Multigrain Tortilla Chips,172,46692,107,chips pretzels,19,snacks
405,Scoops! Tortilla Chips,162,7644,107,chips pretzels,19,snacks
423,Thin & Light Tortilla Chips,157,17835,107,chips pretzels,19,snacks
431,Veggie Chips,154,14633,107,chips pretzels,19,snacks
458,Dark Chocolate Pretzels with Sea Salt,147,19006,107,chips pretzels,19,snacks
460,Backyard Barbeque Potato Chips,146,6489,107,chips pretzels,19,snacks
464,Salt & Pepper Krinkle Chips,144,46049,107,chips pretzels,19,snacks
505,Thick & Crispy Tortilla Chips,132,46226,107,chips pretzels,19,snacks
542,Plantain Chips,124,16589,107,chips pretzels,19,snacks
578,Jalapeno Potato Chips,119,47866,107,chips pretzels,19,snacks
587,Multigrain Pita Chips,118,14858,107,chips pretzels,19,snacks
596,Sour Cream & Onion Potato Chips,116,23645,107,chips pretzels,19,snacks
615,Original Restaurant Style Tortilla Chips,113,47357,107,chips pretzels,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
40,100% Whole Wheat Bread,1177,5077,112,bread,3,bakery
103,Organic Bread with 21 Whole Grains,478,18362,112,bread,3,bakery
143,Ezekiel 4:9 Bread Organic Sprouted Whole Grain,371,18027,112,bread,3,bakery
154,Sourdough Bread,343,21267,112,bread,3,bakery
241,Organic Honey Sweet Whole Wheat Bread,243,3896,112,bread,3,bakery
244,Organic 21 Grain Thin Sliced Bread,240,45123,112,bread,3,bakery
247,Organic Good Seed Bread,237,2855,112,bread,3,bakery
264,Whole Wheat Bread,226,13517,112,bread,3,bakery
274,Organic Whole Wheat Bread,221,48628,112,bread,3,bakery
381,Gluten Free 7 Grain Bread,172,45948,112,bread,3,bakery
440,California Sourdough Bread,151,23233,112,bread,3,bakery
465,Gluten Free White Sandwich Bread,144,39097,112,bread,3,bakery
473,Classic White Bread,141,35383,112,bread,3,bakery
480,Cinnamon Raisin Bread,140,8467,112,bread,3,bakery
503,Sweet Baguette,133,14467,112,bread,3,bakery
538,Honey Wheat Bread,125,45064,112,bread,3,bakery
553,Sourdough Baguette,123,20583,112,bread,3,bakery
565,White Sandwich Bread,121,21497,112,bread,3,bakery
600,Multigrain Oat Bread,115,12756,112,bread,3,bakery
604,Sprouted Multi-Grain Bread,115,36606,112,bread,3,bakery

,product_name,count,product_id,aisle_id,aisle,department_id,department
73,100% Raw Coconut Water,702,3957,31,refrigerated,7,beverages
106,Original Orange Juice,469,25146,31,refrigerated,7,beverages
114,Organic Raw Kombucha Gingerade,437,30776,31,refrigerated,7,beverages
134,Lemonade,387,41290,31,refrigerated,7,beverages
151,Original No Pulp 100% Florida Orange Juice,349,31683,31,refrigerated,7,beverages
155,Trilogy Kombucha Drink,342,45603,31,refrigerated,7,beverages
187,Orange Juice,305,34050,31,refrigerated,7,beverages
323,Synergy Organic Kombucha Gingerberry,192,48559,31,refrigerated,7,beverages
338,No Pulp Calcium & Vitamin D Pure Orange Juice,187,6631,31,refrigerated,7,beverages
343,Pulp Free Orange Juice,185,39108,31,refrigerated,7,beverages
360,"Juice Beverage, Cold Pressed, Kale Apple Ginge...",180,13292,31,refrigerated,7,beverages
379,Apple Juice,173,38200,31,refrigerated,7,beverages
449,Organic Raw Multigreen Kobmbucha,150,9421,31,refrigerated,7,beverages
471,Florida Orange Juice With Calcium & Vitamin D,141,8087,31,refrigerated,7,beverages
484,Organic & Raw Strawberry Serenity Kombucha,139,6287,31,refrigerated,7,beverages
487,Synergy Organic & Raw Cosmic Cranberry,137,8736,31,refrigerated,7,beverages
497,Enlightened Organic Raw Kombucha,135,19894,31,refrigerated,7,beverages
543,Freshly Squeezed Orange Juice,124,36127,31,refrigerated,7,beverages
624,Raspberry Lemonade,112,43967,31,refrigerated,7,beverages
678,Organic Fresh Squeezed Orange Juice,104,32578,31,refrigerated,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
209,Kids Organic Chocolate Chip ZBars,273,44560,3,energy granola bars,19,snacks
258,Gluten Free Dark Chocolate Chunk Chewy with a ...,228,5322,3,energy granola bars,19,snacks
390,Peanut Butter Chocolate Chip Fruit & Nut Food Bar,169,23579,3,energy granola bars,19,snacks
403,Oats & Honey Gluten Free Granola,163,17224,3,energy granola bars,19,snacks
408,ZBar Organic Chocolate Brownie Energy Snack,160,16254,3,energy granola bars,19,snacks
417,Apple Pie Fruit & Nut Food Bar,158,33716,3,energy granola bars,19,snacks
462,Organic Chocolate Chip Chewy Granola Bars,145,14778,3,energy granola bars,19,snacks
463,Gluten Free Peanut Butter Dark Chocolate Chewy...,145,38656,3,energy granola bars,19,snacks
501,Iced Oatmeal Cookie Kid Z Bar,133,25197,3,energy granola bars,19,snacks
586,Cherry Pie Fruit & Nut Bar,118,26629,3,energy granola bars,19,snacks
599,Coconut Chia Bar,115,23291,3,energy granola bars,19,snacks
625,Peanut Butter Bar,111,10753,3,energy granola bars,19,snacks
648,Blueberry Muffin Bar,108,5250,3,energy granola bars,19,snacks
667,Crunchy Peanut Butter Energy Bar,106,20876,3,energy granola bars,19,snacks
683,Peanut Butter Cookie,104,47717,3,energy granola bars,19,snacks
691,Chocolate Sea Salt,102,34137,3,energy granola bars,19,snacks
704,Coconut Cream Pie,101,22227,3,energy granola bars,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
214,Crackers Cheddar Bunnies Snack Packs,269,39561,78,crackers,19,snacks
239,Hint Of Sea Salt Almond Nut Thins,243,34262,78,crackers,19,snacks
246,Cheddar Bunnies Snack Crackers,238,22474,78,crackers,19,snacks
348,Almond Nut & Rice Cracker Snacks,184,2091,78,crackers,19,snacks
391,Organic Wheat-Free & Gluten-Free Original Crac...,167,40268,78,crackers,19,snacks
393,Organic Lightly Salted Brown Rice Cakes,166,24810,78,crackers,19,snacks
415,Organic Mini Sandwich Crackers Peanut Butter,159,11352,78,crackers,19,snacks
437,Original Black Box Tablewater Cracker,152,8479,78,crackers,19,snacks
444,Organic Wheat Square Crackers,151,48595,78,crackers,19,snacks
448,Goldfish Cheddar Baked Snack Crackers,150,17616,78,crackers,19,snacks
467,"Crispy Wheat, Crackers",142,21009,78,crackers,19,snacks
489,Saltine Crackers,137,18382,78,crackers,19,snacks
508,Crackers Harvest Whole Wheat,132,21614,78,crackers,19,snacks
563,Organic Stoneground Wheat Crackers,121,28597,78,crackers,19,snacks
606,6 OZ LA PANZANELLA CROSTINI ORIGINAL CRACKERS,115,12572,78,crackers,19,snacks
623,Goldfish Cheddar Baked Snack Crackers Multi Packs,112,33894,78,crackers,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
288,Baby Food Stage 2 Blueberry Pear & Purple Carrot,211,43875,92,baby food formula,18,babies
292,Spinach Peas & Pear Stage 2 Baby Food,207,34134,92,baby food formula,18,babies
438,Broccoli & Apple Stage 2 Baby Food,152,3020,92,baby food formula,18,babies
468,Organic Mixed Berry Yogurt & Fruit Snack,142,21162,92,baby food formula,18,babies
477,Stage 1 Apples Sweet Potatoes Pumpkin & Bluebe...,140,5491,92,baby food formula,18,babies
539,Gluten Free SpongeBob Spinach Littles,124,2611,92,baby food formula,18,babies
547,Kids Sensible Foods Broccoli Littles,124,49215,92,baby food formula,18,babies
552,"Organic Pears, Peas and Broccoli Puree Stage 1",123,49044,92,baby food formula,18,babies
566,Organic Strawberry Yogurt & Fruit Snack,121,18176,92,baby food formula,18,babies
631,Baby Food Stage 2 Pumpkin Banana,111,14211,92,baby food formula,18,babies
658,"Peach, Apricot & Banana Stage 2 Baby Food",107,5114,92,baby food formula,18,babies
715,Apple and Carrot Stage 2 Baby Food,99,47888,92,baby food formula,18,babies
725,Organic Whole Grain Oatmeal Cereal Baby Food,97,1202,92,baby food formula,18,babies
761,Pear & Mango Stage 2 Baby Food,93,38192,92,baby food formula,18,babies
769,"Happy Baby Spinach, Mango, and Pear Baby Food",92,14491,92,baby food formula,18,babies

,product_name,count,product_id,aisle_id,aisle,department_id,department
30,Organic Cilantro,1463,31717,16,fresh herbs,4,produce
39,Organic Italian Parsley Bunch,1193,34126,16,fresh herbs,4,produce
52,Bunched Cilantro,949,28842,16,fresh herbs,4,produce
88,Organic Basil,555,43789,16,fresh herbs,4,produce
127,Organic Thyme,404,39812,16,fresh herbs,4,produce
137,Organic Mint,383,13984,16,fresh herbs,4,produce
165,Organic Dill,334,39984,16,fresh herbs,4,produce
210,"Flat Parsley, Bunch",272,42625,16,fresh herbs,4,produce
242,Organic Fresh Basil,242,1025,16,fresh herbs,4,produce
286,Mint,213,4086,16,fresh herbs,4,produce
321,Organic Rosemary,194,15261,16,fresh herbs,4,produce
383,"Parsley, Italian (Flat), New England Grown",171,1529,16,fresh herbs,4,produce
483,Basil,139,8955,16,fresh herbs,4,produce

,product_name,count,product_id,aisle_id,aisle,department_id,department
92,Honey Nut Cheerios,533,41844,121,cereal,14,breakfast
167,Raisin Bran Cereal,333,6187,121,cereal,14,breakfast
276,Cereal,219,20955,121,cereal,14,breakfast
315,Organic Cinnamon Crunch Cereal,196,31433,121,cereal,14,breakfast
402,Cheerios Cereal,163,365,121,cereal,14,breakfast
502,Peanut Butter Cereal,133,34,121,cereal,14,breakfast
558,Whole Grain Oat Cereal,122,4137,121,cereal,14,breakfast
574,Original Puffins Cereal,119,31640,121,cereal,14,breakfast
588,Frosted Mini-Wheats Original Cereal,118,43409,121,cereal,14,breakfast
610,Original Multigrain Spoonfuls Cereal,115,39216,121,cereal,14,breakfast
645,Panda Puffs Peanut Butter Cereal,108,4792,121,cereal,14,breakfast
688,Organic Honey Nut O's Cereal,103,26177,121,cereal,14,breakfast
709,GOLEAN Crunch! Cereal,100,27663,121,cereal,14,breakfast

,product_name,count,product_id,aisle_id,aisle,department_id,department
158,Organic Low Sodium Chicken Broth,340,45535,69,soup broth bouillon,15,canned goods
202,Organic Free Range Chicken Broth,281,46720,69,soup broth bouillon,15,canned goods
237,Organic Vegetable Broth,244,9092,69,soup broth bouillon,15,canned goods
266,Organic Low Sodium Vegetable Broth,225,18479,69,soup broth bouillon,15,canned goods
270,Organic Chicken Broth,223,1999,69,soup broth bouillon,15,canned goods
279,Organic Chicken Stock,218,5769,69,soup broth bouillon,15,canned goods
425,Organic Free Range Low Sodium Chicken Broth,156,18880,69,soup broth bouillon,15,canned goods
441,Organic Chicken Bone Broth,151,14129,69,soup broth bouillon,15,canned goods
493,Organic Chicken Noodle Soup,136,46900,69,soup broth bouillon,15,canned goods
506,Organic Low Sodium Chicken Cooking Stock,132,11136,69,soup broth bouillon,15,canned goods
519,Organic Beef Broth,130,16823,69,soup broth bouillon,15,canned goods
546,Organic Creamy Tomato Soup,124,21417,69,soup broth bouillon,15,canned goods

,product_name,count,product_id,aisle_id,aisle,department_id,department
149,Pure Coconut Water,354,2966,98,juice nectars,7,beverages
272,Natural Premium Coconut Water,223,42719,98,juice nectars,7,beverages
281,Organic Apple Juice,217,18811,98,juice nectars,7,beverages
317,Orange Calcium & Vitamin D Pulp Free,195,19173,98,juice nectars,7,beverages
326,Organic Orange Juice,191,30639,98,juice nectars,7,beverages
367,No Pulp Calcium & Vitamin D Pure Premium 100% ...,178,38890,98,juice nectars,7,beverages
387,Organic Lemonade,169,26317,98,juice nectars,7,beverages
512,Organic Apple Juice Boxes,131,13113,98,juice nectars,7,beverages
528,Organic Super Fruit Punch Juice Drink,128,24850,98,juice nectars,7,beverages
589,Coconut Water,117,14715,98,juice nectars,7,beverages
607,Organic Orange Fruit Juice,115,36036,98,juice nectars,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
222,Light Brown Sugar,265,23537,17,baking ingredients,13,pantry
296,Organic Vanilla Extract,206,7500,17,baking ingredients,13,pantry
324,Cane Sugar,191,49533,17,baking ingredients,13,pantry
369,100% Pure Pumpkin,176,22142,17,baking ingredients,13,pantry
426,Premium Pure Cane Granulated Sugar,155,27243,17,baking ingredients,13,pantry
433,Organic Unbleached All-Purpose Flour,153,23516,17,baking ingredients,13,pantry
446,Pure Baking Soda,150,23405,17,baking ingredients,13,pantry
679,Semi-Sweet Chocolate Premium Baking Chips,104,8671,17,baking ingredients,13,pantry
701,Unbleached All-Purpose Flour,101,35855,17,baking ingredients,13,pantry
702,Pure Granulated Cane Sugar,101,397,17,baking ingredients,13,pantry
719,Organic Cane Sugar,98,34551,17,baking ingredients,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
105,Organic Diced Tomatoes,469,890,81,canned jarred vegetables,15,canned goods
141,Organic Tomato Paste,372,7021,81,canned jarred vegetables,15,canned goods
183,Diced Tomatoes,309,8670,81,canned jarred vegetables,15,canned goods
191,Organic Tomato Sauce,296,44449,81,canned jarred vegetables,15,canned goods
197,Organic Whole Kernel Sweet Corn No Salt Added,283,3376,81,canned jarred vegetables,15,canned goods
204,Crushed Tomatoes,279,11408,81,canned jarred vegetables,15,canned goods
231,Tomato Sauce,249,22395,81,canned jarred vegetables,15,canned goods
269,Organic No Salt Added Diced Tomatoes,223,5373,81,canned jarred vegetables,15,canned goods
430,Organic Crushed Fire Roasted Tomatoes,154,41544,81,canned jarred vegetables,15,canned goods
511,Mild Diced Green Chiles,131,20520,81,canned jarred vegetables,15,canned goods
513,Fresh Cut Golden Sweet Whole Kernel Corn,131,25544,81,canned jarred vegetables,15,canned goods

,product_name,count,product_id,aisle_id,aisle,department_id,department
109,Soda,456,196,77,soft drinks,7,beverages
181,Fridge Pack Cola,310,10957,77,soft drinks,7,beverages
245,Ginger Ale,239,12916,77,soft drinks,7,beverages
284,Cola,216,47141,77,soft drinks,7,beverages
386,Coke Classic,170,16696,77,soft drinks,7,beverages
452,Root Beer,149,40910,77,soft drinks,7,beverages
486,Arancita Rossa,137,4138,77,soft drinks,7,beverages
514,Cola Soft Drink,130,10032,77,soft drinks,7,beverages
555,Diet Ginger Ale All Natural Soda,123,18564,77,soft drinks,7,beverages
580,Canned Aranciata Orange,119,44375,77,soft drinks,7,beverages
581,Club Soda,118,24759,77,soft drinks,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
223,Organic Whole Cashews,262,35140,117,nuts seeds dried fruit,19,snacks
224,Organic Thompson Seedless Raisins,259,5134,117,nuts seeds dried fruit,19,snacks
235,Whole Almonds,245,7503,117,nuts seeds dried fruit,19,snacks
283,Organic Medjool Dates,216,20734,117,nuts seeds dried fruit,19,snacks
291,Chopped Walnuts,209,12845,117,nuts seeds dried fruit,19,snacks
335,Walnut Halves & Pieces,187,16521,117,nuts seeds dried fruit,19,snacks
435,Roasted & Salted Almonds,153,29926,117,nuts seeds dried fruit,19,snacks
461,Raisins,145,14901,117,nuts seeds dried fruit,19,snacks
482,Roasted Salted Cashews,139,13819,117,nuts seeds dried fruit,19,snacks
516,Pitted Dates,130,34590,117,nuts seeds dried fruit,19,snacks
549,Dried Sweetened Cranberries,123,248,117,nuts seeds dried fruit,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
59,Organic Black Beans,849,27156,59,canned meals beans,15,canned goods
78,Organic Garbanzo Beans,632,42768,59,canned meals beans,15,canned goods
84,No Salt Added Black Beans,590,28849,59,canned meals beans,15,canned goods
172,Black Beans,324,35042,59,canned meals beans,15,canned goods
236,Organic Pinto Beans,244,49175,59,canned meals beans,15,canned goods
359,Organic Cannellini Beans,180,16145,59,canned meals beans,15,canned goods
548,Cannellini White Kidney Beans No Salt Added,123,26668,59,canned meals beans,15,canned goods
550,Traditional Refried Beans,123,5994,59,canned meals beans,15,canned goods
584,Black Beans No Salt Added,118,27683,59,canned meals beans,15,canned goods
628,Organic Garbanzo Beans No Salt Added,111,35750,59,canned meals beans,15,canned goods

,product_name,count,product_id,aisle_id,aisle,department_id,department
211,Almonds & Sea Salt in Dark Chocolate,272,38164,45,candy chocolate,19,snacks
287,Organic Dark Chocolate Peanut Butter Cups,212,46616,45,candy chocolate,19,snacks
561,Dark with 70% Cacao Content Organic Chocolate Bar,122,43192,45,candy chocolate,19,snacks
572,Organic Milk Chocolate Peanut Butter Cups,119,29077,45,candy chocolate,19,snacks
617,Organic 85% Cacao Dark Chocolate Bar,113,2480,45,candy chocolate,19,snacks
689,"Bar, Toffee & Almonds in Milk Chocolate",103,37276,45,candy chocolate,19,snacks
834,Organic Bagged Mini Dark Peanut Butter,86,45445,45,candy chocolate,19,snacks
951,Organic Deep Dark Sea Salt Chocolate,76,37496,45,candy chocolate,19,snacks
1100,Organic Quinoa Dark Chocolate Bar,67,20178,45,candy chocolate,19,snacks
1111,Milk Chocolate Almonds,67,39657,45,candy chocolate,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
126,Creamy Almond Butter,407,30450,88,spreads,13,pantry
135,Creamy Peanut Butter,386,16953,88,spreads,13,pantry
163,Organic Creamy Peanut Butter,336,43713,88,spreads,13,pantry
175,Strawberry Preserves,323,42356,88,spreads,13,pantry
255,Organic Strawberry Fruit Spread,231,37220,88,spreads,13,pantry
319,Raspberry Preserves,195,4656,88,spreads,13,pantry
333,Crunchy Almond Butter,188,42557,88,spreads,13,pantry
475,Classic Almond Butter,141,31338,88,spreads,13,pantry
478,Peanut Butter Creamy With Salt,140,8239,88,spreads,13,pantry
577,Hazelnut Spread With Skim Milk & Cocoa,119,4006,88,spreads,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
161,Spaghetti,337,32734,131,dry pasta,9,dry goods pasta
310,Penne Rigate,198,12872,131,dry pasta,9,dry goods pasta
350,Spaghetti No 12,182,5240,131,dry pasta,9,dry goods pasta
351,Organic Penne Rigate,182,28278,131,dry pasta,9,dry goods pasta
372,Spaghetti Pasta,175,46522,131,dry pasta,9,dry goods pasta
382,Organic Whole Wheat Fusilli,171,37825,131,dry pasta,9,dry goods pasta
413,Penne Pasta,159,14168,131,dry pasta,9,dry goods pasta
424,Fusilli No. 34,156,23801,131,dry pasta,9,dry goods pasta
498,Organic Spaghetti Pasta,134,29898,131,dry pasta,9,dry goods pasta
523,Penne Rigate #41 Pasta,129,9366,131,dry pasta,9,dry goods pasta

,product_name,count,product_id,aisle_id,aisle,department_id,department
178,Organic Whole Grain Wheat English Muffins,318,17706,93,breakfast bakery,3,bakery
180,Original Nooks & Crannies English Muffins,313,10673,93,breakfast bakery,3,bakery
273,Plain Bagels,222,20738,93,breakfast bakery,3,bakery
357,Plain Mini Bagels,180,42460,93,breakfast bakery,3,bakery
396,Everything Bagels,165,16262,93,breakfast bakery,3,bakery
397,Plain Pre-Sliced Bagels,165,46842,93,breakfast bakery,3,bakery
404,Presliced Everything Bagels,162,17341,93,breakfast bakery,3,bakery
456,Authentic French Brioche,148,48857,93,breakfast bakery,3,bakery
476,Organic Sprouted English Muffin,141,3849,93,breakfast bakery,3,bakery

,product_name,count,product_id,aisle_id,aisle,department_id,department
551,Premium Unsweetened Iced Tea,123,44292,94,tea,7,beverages
668,Pink Lady Apple Kombucha,106,4462,94,tea,7,beverages
692,Zen Tea,102,10312,94,tea,7,beverages
921,Moroccan Mint Green Tea,79,18606,94,tea,7,beverages
1054,Just Green Unsweetened Tea,70,45223,94,tea,7,beverages
1091,Unsweetened Premium Iced Tea,67,48988,94,tea,7,beverages
1096,Ginger Tea,67,35749,94,tea,7,beverages
1225,Earl Grey Tea,61,48946,94,tea,7,beverages
1269,Calm Chamomile Herbal Tea,59,40411,94,tea,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
50,Extra Virgin Olive Oil,986,31506,19,oils vinegars,13,pantry
227,Italian Extra Virgin Olive Oil,255,10644,19,oils vinegars,13,pantry
320,Organic Extra Virgin Olive Oil,194,21195,19,oils vinegars,13,pantry
346,Canola Oil,184,48697,19,oils vinegars,13,pantry
353,Unrefined Virgin Coconut Oil,181,40377,19,oils vinegars,13,pantry
363,Organic Distilled White Vinegar,179,12409,19,oils vinegars,13,pantry
384,Organic Raw Unfiltered Apple Cider Vinegar,170,4461,19,oils vinegars,13,pantry
419,Apple Cider Vinegar,157,18963,19,oils vinegars,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
294,Chocolate Chip Cookies,207,40199,61,cookies cakes,19,snacks
302,Gluten Free Chocolate Chip Cookies,204,40063,61,cookies cakes,19,snacks
583,Fig Newmans Fruit Filled Cookies,118,45866,61,cookies cakes,19,snacks
609,Oreo Chocolate Sandwich Cookies,115,12481,61,cookies cakes,19,snacks
779,Honey Graham Sticks,91,9438,61,cookies cakes,19,snacks
887,Newman O's Creme Filled Chocolate Cookies,81,45374,61,cookies cakes,19,snacks
999,"Cookies, Chocolate Chip Walnut",73,26634,61,cookies cakes,19,snacks
1098,Fudge Mint Cookies,67,42139,61,cookies cakes,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
117,Marinara Sauce,427,23375,9,pasta sauce,9,dry goods pasta
159,Basil Pesto,340,12206,9,pasta sauce,9,dry goods pasta
162,Organic Tomato Basil Pasta Sauce,336,39619,9,pasta sauce,9,dry goods pasta
216,Tomato Paste,269,14197,9,pasta sauce,9,dry goods pasta
265,Marinara Pasta Sauce,225,38273,9,pasta sauce,9,dry goods pasta
362,All Natural Marinara Sauce,179,14852,9,pasta sauce,9,dry goods pasta
522,Four Cheese Pasta Sauce,130,31927,9,pasta sauce,9,dry goods pasta
627,Organic Marinara Pasta Sauce,111,19478,9,pasta sauce,9,dry goods pasta

,product_name,count,product_id,aisle_id,aisle,department_id,department
95,100% Recycled Paper Towels,503,8021,54,paper goods,17,household
144,Sustainably Soft Bath Tissue,368,2086,54,paper goods,17,household
470,100% Recycled Bathroom Tissue,141,8230,54,paper goods,17,household
585,Select-A-Size White Paper Towels,118,19488,54,paper goods,17,household
635,Ultra Soft Facial Tissues,110,42240,54,paper goods,17,household
739,White Giant Paper Towel Rolls,96,32650,54,paper goods,17,household
770,100% Recycled Bath Tissue Rolls,92,30290,54,paper goods,17,household
807,2-Ply 100% Recycled Bathroom Tissue,90,35986,54,paper goods,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
168,Organic Ketchup,330,18441,72,condiments,13,pantry
215,Tomato Ketchup,269,7751,72,condiments,13,pantry
254,Organic Dijon Mustard,231,44628,72,condiments,13,pantry
293,Real Mayonnaise,207,27796,72,condiments,13,pantry
301,Original Hot Sauce,204,35898,72,condiments,13,pantry
371,Organic Mayonnaise,175,15392,72,condiments,13,pantry
392,Squeeze Tomato Ketchup,167,44234,72,condiments,13,pantry
524,Organic Yellow Mustard,129,14332,72,condiments,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
510,Garlic Powder,132,9327,104,spices seasonings,13,pantry
535,Oregano,125,7746,104,spices seasonings,13,pantry
650,Ground Cumin,108,37107,104,spices seasonings,13,pantry
766,Sea Salt Fine Crystals,93,5621,104,spices seasonings,13,pantry
850,Original Taco Seasoning Mix,85,40136,104,spices seasonings,13,pantry
920,Ground Black Pepper,79,13212,104,spices seasonings,13,pantry
936,Organic Ground Cumin,78,46962,104,spices seasonings,13,pantry
1053,Organic Turmeric,70,1359,104,spices seasonings,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
263,Organic Macaroni Shells & Real Aged Cheddar,226,42110,4,instant foods,9,dry goods pasta
308,Macaroni Shells & White Cheddar Cheese,199,35004,4,instant foods,9,dry goods pasta
329,Bunny Pasta with Yummy Cheese Macaroni & Cheese,189,36772,4,instant foods,9,dry goods pasta
414,Shells & Real Aged Cheddar Macaroni & Cheese,159,1090,4,instant foods,9,dry goods pasta
556,Organic Shells And White Cheddar,122,33636,4,instant foods,9,dry goods pasta
568,Garlic Couscous,120,18599,4,instant foods,9,dry goods pasta
591,Macaroni & Cheese Dinner Original Flavor,117,18019,4,instant foods,9,dry goods pasta

,product_name,count,product_id,aisle_id,aisle,department_id,department
51,Raspberries,984,43352,32,packaged produce,4,produce
65,Hass Avocados,791,12341,32,packaged produce,4,produce
142,Clementines,371,6184,32,packaged produce,4,produce
261,Green Seedless Grapes,227,19691,32,packaged produce,4,produce
304,Baby Cucumbers,203,8571,32,packaged produce,4,produce
368,Seedless Cucumbers,176,30827,32,packaged produce,4,produce
399,Rainbow Bell Peppers,164,21292,32,packaged produce,4,produce

,product_name,count,product_id,aisle_id,aisle,department_id,department
186,Corn Tortillas,306,19508,128,tortillas flat bread,3,bakery
356,Sonoma Traditional Flour Tortillas 10 Count,180,19816,128,tortillas flat bread,3,bakery
428,Super Soft Taco Flour Tortillas,155,29553,128,tortillas flat bread,3,bakery
429,White Corn Tortillas,155,11461,128,tortillas flat bread,3,bakery
499,Large Burrito Flour Tortillas,134,40348,128,tortillas flat bread,3,bakery
532,"Tortillas, Corn, Organic",126,11941,128,tortillas flat bread,3,bakery
642,Ezekiel 4:9 Sprouted Grain Tortillas,109,35168,128,tortillas flat bread,3,bakery

,product_name,count,product_id,aisle_id,aisle,department_id,department
412,Cold Brew Coffee,160,25718,26,coffee,7,beverages
557,New Orleans Iced Coffee,122,7521,26,coffee,7,beverages
686,Major Dickason's Blend Ground Coffee Dark Roast,103,1695,26,coffee,7,beverages
698,Cold-Brew Black Coffee,101,32740,26,coffee,7,beverages
718,French Roast Ground Coffee,98,30850,26,coffee,7,beverages
863,House Blend Deep Roast Ground Coffee,84,5794,26,coffee,7,beverages
1093,Unsweetened Iced Coffee,67,9411,26,coffee,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
152,Original Veggie Straws,346,34448,50,fruit vegetable snacks,19,snacks
190,Organic Bunny Fruit Snacks Berry Patch,299,5194,50,fruit vegetable snacks,19,snacks
195,Organic Summer Strawberry Bunny Fruit Snacks,288,13740,50,fruit vegetable snacks,19,snacks
303,Apple Cinnamon GoGo Squeez,203,27690,50,fruit vegetable snacks,19,snacks
445,Mixed Fruit Fruit Snacks,150,26348,50,fruit vegetable snacks,19,snacks
569,Organic Apple Slices,120,42803,50,fruit vegetable snacks,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
234,Organic Sea Salt Roasted Seaweed Snacks,245,36724,66,asian foods,6,international
845,Original Roasted Seaweed Snacks,86,22220,66,asian foods,6,international
856,Coconut Milk,85,10492,66,asian foods,6,international
965,Sriracha Hot Chili Sauce,75,22275,66,asian foods,6,international
987,Roasted Sesame Seaweed Snacks,74,5547,66,asian foods,6,international
990,Sliced Water Chestnuts,74,47008,66,asian foods,6,international

,product_name,count,product_id,aisle_id,aisle,department_id,department
124,Organic Old Fashioned Rolled Oats,415,44422,130,hot cereal pancake mixes,14,breakfast
280,Organic Quick Oats,218,21543,130,hot cereal pancake mixes,14,breakfast
601,Original Instant Oatmeal,115,49111,130,hot cereal pancake mixes,14,breakfast
622,Apple Cinnamon Instant Oatmeal,112,37464,130,hot cereal pancake mixes,14,breakfast
643,Steel Cut Oats,109,45965,130,hot cereal pancake mixes,14,breakfast
680,Old Fashioned Rolled Oats,104,47966,130,hot cereal pancake mixes,14,breakfast

,product_name,count,product_id,aisle_id,aisle,department_id,department
188,Baked Aged White Cheddar Rice and Corn Puffs,302,3599,23,popcorn jerky,19,snacks
240,100 Calorie Per Bag Popcorn,243,15902,23,popcorn jerky,19,snacks
337,Boomchickapop Sea Salt Popcorn,187,25513,23,popcorn jerky,19,snacks
352,White Cheddar Popcorn,181,1700,23,popcorn jerky,19,snacks
378,Original Popcorn,173,9755,23,popcorn jerky,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
361,Organic Short Grain Brown Rice,179,3142,63,grains rice dried goods,9,dry goods pasta
366,Organic Red Lentils,178,38650,63,grains rice dried goods,9,dry goods pasta
407,Organic Long Grain White Rice,161,24009,63,grains rice dried goods,9,dry goods pasta
411,Original Rice Pilaf Mix,160,48395,63,grains rice dried goods,9,dry goods pasta
490,Organic Green Lentils,136,25005,63,grains rice dried goods,9,dry goods pasta

,product_name,count,product_id,aisle_id,aisle,department_id,department
316,Authentic French Brioche Hamburger Buns,196,41658,43,buns rolls,3,bakery
466,Hot Dog Buns,142,18987,43,buns rolls,3,bakery
469,Soft Pretzel Burger Buns,141,7806,43,buns rolls,3,bakery
620,Soft Pretzel Mini Buns,112,44310,43,buns rolls,3,bakery

,product_name,count,product_id,aisle_id,aisle,department_id,department
193,Cinnamon Rolls with Icing,292,7559,105,doughs gelatins bake mixes,13,pantry
336,Crescent Rolls,187,33043,105,doughs gelatins bake mixes,13,pantry
395,Flaky Biscuits,166,13431,105,doughs gelatins bake mixes,13,pantry
757,Chocolate Chip Cookie Dough,94,27288,105,doughs gelatins bake mixes,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
179,Mild Salsa,315,13829,51,preserved dips spreads,13,pantry
208,Organic Medium Salsa,274,13535,51,preserved dips spreads,13,pantry
455,Cucumber & Garlic Tzatziki,148,28535,51,preserved dips spreads,13,pantry
784,Medium Salsa,91,23594,51,preserved dips spreads,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
885,Lemongrass Citrus Scent Disinfecting Wipes,81,21847,114,cleaning products,17,household
1434,Kitchen Scrubber Sponge,52,6210,114,cleaning products,17,household
1452,"Disinfecting Wipes, Lemon",51,34287,114,cleaning products,17,household
1486,Disinfecting Wipes Fresh Scent,50,20590,114,cleaning products,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
275,Sliced Black Olives,221,14462,110,pickled goods olives,13,pantry
726,Organic Kosher Dill Pickles,97,40233,110,pickled goods olives,13,pantry
790,Ripe Large Pitted Olives,91,33407,110,pickled goods olives,13,pantry
838,"Olives, Organic, Kalamata, Pitted",86,27881,110,pickled goods olives,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
518,Ancient Grain Original Granola,130,9550,57,granola,14,breakfast
537,Flax Plus Organic Pumpkin Flax Granola,125,18352,57,granola,14,breakfast
626,Vanilla Blueberry Clusters With Flax Seeds Gra...,111,31663,57,granola,14,breakfast
656,Peanut Butter Whole Grain Clusters,107,34565,57,granola,14,breakfast

,product_name,count,product_id,aisle_id,aisle,department_id,department
517,Ranch Dressing,130,24382,89,salad dressing toppings,13,pantry
1081,Real French Vinaigrette Dressing,68,38720,89,salad dressing toppings,13,pantry
1420,Organic Ranch Dressing,52,20431,89,salad dressing toppings,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
526,Vitamin Water Zero Squeezed Lemonade,128,11123,64,energy sports drinks,7,beverages
815,Fruit Punch Sports Drink,89,33452,64,energy sports drinks,7,beverages
941,Energy Drink,78,41276,64,energy sports drinks,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
140,Organic AppleApple,374,26790,99,canned fruit applesauce,15,canned goods
515,Apple Sauce,130,45013,99,canned fruit applesauce,15,canned goods
525,Gogo Squeez Organic Apple Strawberry Applesauc...,129,9598,99,canned fruit applesauce,15,canned goods

,product_name,count,product_id,aisle_id,aisle,department_id,department
325,Natural Free & Clear Dish Liquid,191,13838,74,dish detergents,17,household
474,Lemon Verbena Dish Soap,141,33290,74,dish detergents,17,household
940,Lavender Floral & Mint Natural Dish Liquid,78,2581,74,dish detergents,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
638,Free & Clear Natural Laundry Detergent For Sen...,109,204,75,laundry,17,household
1105,Natural Liquid Laundry Detergent - Blue Eucaly...,67,605,75,laundry,17,household
1660,"Natural Laundry Detergent, Free & Clear 33",45,37357,75,laundry,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
388,Organic Riced Cauliflower,169,41149,100,missing,21,missing
1466,Organic Celery Bunch,51,38510,100,missing,21,missing
1564,Organic Mango Yogurt,48,14010,100,missing,21,missing

,product_name,count,product_id,aisle_id,aisle,department_id,department
306,Taco Seasoning,201,2450,30,latino foods,6,international
690,New Mexico Taco Skillet Sauce For Chicken,102,39430,30,latino foods,6,international
1038,Organic Spicy Taco Seasoning,71,35167,30,latino foods,6,international

,product_name,count,product_id,aisle_id,aisle,department_id,department
1262,Frosted berry Strawberry Toaster Pastries,59,13605,48,breakfast bars pastries,14,breakfast
1359,Nutri-Grain Soft Baked Strawberry Cereal Break...,55,21351,48,breakfast bars pastries,14,breakfast

,product_name,count,product_id,aisle_id,aisle,department_id,department
703,Wild Albacore Tuna No Salt Added,101,79,95,canned meat seafood,15,canned goods
751,Solid White Albacore Tuna In Water,94,4317,95,canned meat seafood,15,canned goods

,product_name,count,product_id,aisle_id,aisle,department_id,department
373,Organic Mountain Forest Amber Honey,174,22504,29,honeys syrups nectars,13,pantry
736,Organic Light Agave Nectar,96,18471,29,honeys syrups nectars,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
268,Aluminum Foil,224,31066,85,food storage,17,household
485,Gallon Freezer Bags,138,44643,85,food storage,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
2304,Instant Action Cat Litter,32,49355,41,cat food care,8,pets
2360,Grain Free Chicken Formula Cat Food,31,7076,41,cat food care,8,pets

,product_name,count,product_id,aisle_id,aisle,department_id,department
917,Fluoride-Free Antiplaque & Whitening Peppermin...,79,29418,20,oral hygiene,11,personal care
1794,Natural Anticavity Silly Strawberry Fluoride T...,42,3007,20,oral hygiene,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
675,Lavender Hand Soap,105,12312,25,soap,11,personal care
744,Lemon Verbena Hand Soap,95,27544,25,soap,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
400,Panko Bread Crumbs,164,43129,5,marinades meat preparation,13,pantry
1297,Original Barbecue Sauce,58,49481,5,marinades meat preparation,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
1147,Organic Ground Flaxseed,65,2309,47,vitamins supplements,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
1076,9 Inch Plates,68,31801,111,plates bowls cups flatware,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
1418,Vanilla Whey Protein Powder,52,14650,65,protein meal replacements,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
2386,Deep Moisture Body Wash,31,33439,127,body lotions soap,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
1181,"Freshly Made. Filled with Creamy Ricotta, Aged...",63,39719,12,fresh pasta,9,dry goods pasta

,product_name,count,product_id,aisle_id,aisle,department_id,department
3290,Organix Grain Free Chicken & Vegetable Dog Food,21,19571,40,dog food care,8,pets

,product_name,count,product_id,aisle_id,aisle,department_id,department
878,Beer,82,46088,27,beers coolers,5,alcohol

,product_name,count,product_id,aisle_id,aisle,department_id,department
894,Roasted Almond Butter,81,38662,6,other,2,other

,product_name,count,product_id,aisle_id,aisle,department_id,department
3134,Moroccan Argan Oil + Argan Stem Cell Triple Mo...,22,19513,22,hair care,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
797,Tall Kitchen Drawstring Bags,90,49113,60,trash bags liners,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
447,Trail Mix,150,37710,125,trail mix snack mix,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
1437,"Muffins, Mini, Flax, Chocolate Brownie",52,2298,8,bakery desserts,3,bakery

,product_name,count,product_id,aisle_id,aisle,department_id,department
674,Cabernet Sauvignon,105,33065,28,red wines,5,alcohol

,product_name,count,product_id,aisle_id,aisle,department_id,department
2149,Organic Lowfat Mango Kefir,35,14711,70,digestion,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
590,Sauvignon Blanc,117,2120,62,white wines,5,alcohol

,product_name,count,product_id,aisle_id,aisle,department_id,department
1482,"Honest Face, Hand, & Baby Wipes",51,5922,56,diapers wipes,18,babies

,product_name,count,product_id,aisle_id,aisle,department_id,department
3209,The Original Natural Herb Drops Cough Suppressant,22,36696,11,cold flu allergy,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
774,Vodka,92,45190,124,spirits,5,alcohol

,product_name,count,product_id,aisle_id,aisle,department_id,department
1264,100% Recycled Aluminum Foil,59,160,97,baking supplies decor,13,pantry

,product_name,count,product_id,aisle_id,aisle,department_id,department
3038,Spearmint Sugar-Free Gum,23,34355,46,mint gum,19,snacks

,product_name,count,product_id,aisle_id,aisle,department_id,department
4587,Flushable Moist Wipes,14,29978,126,feminine care,11,personal care

,product_name,count,product_id,aisle_id,aisle,department_id,department
2921,Cocoa Powder,24,17956,90,cocoa drink mixes,7,beverages

,product_name,count,product_id,aisle_id,aisle,department_id,department
312,Dried Mango,198,5161,18,bulk dried fruits vegetables,10,bulk

,product_name,count,product_id,aisle_id,aisle,department_id,department
5874,Lavender Harvest Aromatherapy Mist,10,20324,101,air fresheners candles,17,household

,product_name,count,product_id,aisle_id,aisle,department_id,department
494,Organic Rolled Oats,136,22260,68,bulk grains rice dried goods,10,bulk

,product_name,count,product_id,aisle_id,aisle,department_id,department
859,Premium Epsom Salt,84,9047,133,muscles joints pain relief,11,personal care

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Banana,9028,24852,24,fresh fruits,4,produce
1,Bag of Organic Bananas,7152,13176,24,fresh fruits,4,produce
2,Organic Strawberries,5233,21137,24,fresh fruits,4,produce
4,Organic Hass Avocado,4282,47209,24,fresh fruits,4,produce
5,Organic Avocado,3493,47766,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
2921,Cocoa Powder,24,17956,90,cocoa drink mixes,7,beverages
312,Dried Mango,198,5161,18,bulk dried fruits vegetables,10,bulk
5874,Lavender Harvest Aromatherapy Mist,10,20324,101,air fresheners candles,17,household
494,Organic Rolled Oats,136,22260,68,bulk grains rice dried goods,10,bulk
859,Premium Epsom Salt,84,9047,133,muscles joints pain relief,11,personal care

In [49]:
# Sanity Check
result_df

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Banana,9028,24852,24,fresh fruits,4,produce
1,Bag of Organic Bananas,7152,13176,24,fresh fruits,4,produce
2,Organic Strawberries,5233,21137,24,fresh fruits,4,produce
4,Organic Hass Avocado,4282,47209,24,fresh fruits,4,produce
5,Organic Avocado,3493,47766,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
2921,Cocoa Powder,24,17956,90,cocoa drink mixes,7,beverages
312,Dried Mango,198,5161,18,bulk dried fruits vegetables,10,bulk
5874,Lavender Harvest Aromatherapy Mist,10,20324,101,air fresheners candles,17,household
494,Organic Rolled Oats,136,22260,68,bulk grains rice dried goods,10,bulk
859,Premium Epsom Salt,84,9047,133,muscles joints pain relief,11,personal care

Next, selecting the top 100 frozen products to place in the freezer

In [50]:
train_freezer

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
68,7,46802,Pineapple Chunks,116,frozen produce,1,frozen
135,14,162,Organic Mini Homestyle Waffles,52,frozen breakfast,1,frozen
136,14,2452,Naturals Chicken Nuggets,129,frozen appetizers sides,1,frozen
140,14,10096,Corn Meal Pizza Crust,58,frozen breads doughs,1,frozen
142,14,20995,Organic Broccoli Florets,116,frozen produce,1,frozen
...,...,...,...,...,...,...,...
987130,99986,42450,Macaroni & Cheese,38,frozen meals,1,frozen
987143,99987,40203,Mint Chip Ice Cream,37,ice cream ice,1,frozen
987176,99993,43749,Organic Ice Cream Vanilla Bean,37,ice cream ice,1,frozen
987180,99993,5537,Dairy Free Coconut Milk Frozen Dessert Minis,37,ice cream ice,1,frozen
987184,99993,26128,Organic Mango Chunks,116,frozen produce,1,frozen

In [51]:
freezer_df['aisle'].value_counts()

aisle
frozen produce             16000
ice cream ice              15227
frozen meals               11923
frozen breakfast            7122
frozen appetizers sides     5847
frozen pizza                4858
frozen vegan vegetarian     3084
frozen meat seafood         2140
frozen breads doughs        1263
frozen dessert               603
frozen juice                 135
Name: count, dtype: int64

In [52]:
# finding the amount of items ordered for each aisle
aisle_info2 = train_freezer.groupby('aisle').size().reset_index(name='count').sort_values(by='count', ascending=False)
aisle_info2

                      aisle  count
8            frozen produce  10792
10            ice cream ice   9497
5              frozen meals   7957
2          frozen breakfast   4904
0   frozen appetizers sides   3985
7              frozen pizza   3200
9   frozen vegan vegetarian   2078
6       frozen meat seafood   1347
1      frozen breads doughs    848
3            frozen dessert    396
4              frozen juice     84

In [53]:
aisle_info2['percentage']=(aisle_info2['count']/train_freezer.shape[0])*100
aisle_info2

                      aisle  count  percentage
8            frozen produce  10792   23.935415
10            ice cream ice   9497   21.063254
5              frozen meals   7957   17.647711
2          frozen breakfast   4904   10.876508
0   frozen appetizers sides   3985    8.838272
7              frozen pizza   3200    7.097232
9   frozen vegan vegetarian   2078    4.608765
6       frozen meat seafood   1347    2.987491
1      frozen breads doughs    848    1.880767
3            frozen dessert    396    0.878282
4              frozen juice     84    0.186302

In [54]:
# calculating amount allocation for each aisle
aisle_info2['amount'] = round(aisle_info2['percentage']/100*100)
aisle_info2

                      aisle  count  percentage  amount
8            frozen produce  10792   23.935415    24.0
10            ice cream ice   9497   21.063254    21.0
5              frozen meals   7957   17.647711    18.0
2          frozen breakfast   4904   10.876508    11.0
0   frozen appetizers sides   3985    8.838272     9.0
7              frozen pizza   3200    7.097232     7.0
9   frozen vegan vegetarian   2078    4.608765     5.0
6       frozen meat seafood   1347    2.987491     3.0
1      frozen breads doughs    848    1.880767     2.0
3            frozen dessert    396    0.878282     1.0
4              frozen juice     84    0.186302     0.0

In [55]:
# Checking if the amount allocated is equal to 100 and not 101 or 99 due to rounding error
aisle_info2['amount'].sum()

101.0

In [56]:
freezer_products=train_freezer.groupby('product_name').size().reset_index(name='count').sort_values(by='count', ascending=False)
freezer_products

                                           product_name  count
191                                         Blueberries   1148
1727                           Organic Broccoli Florets    704
1879                         Organic Whole Strawberries    698
1013                    Frozen Organic Wild Blueberries    652
2017                                   Pineapple Chunks    477
...                                                 ...    ...
849              Egg, Bacon & Cheese Breakfast Taquitos      1
848                 Egg With Sausage And Cheese Burrito      1
2219                            Sausage Pepperoni Pizza      1
2223                                  Sausage Scrambles      1
2860  with Sweet & Smoky BBQ Sauce Cheeseburger Sliders      1

[2861 rows x 2 columns]

In [57]:
product_mapping = train_freezer[['product_id', 'product_name', 'aisle_id', 'aisle', 'department_id', 'department']]
product_mapping = product_mapping.drop_duplicates(subset='product_name')
freezer_products = freezer_products.merge(product_mapping, on='product_name', how='left')
freezer_products

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Blueberries,1148,9076,116,frozen produce,1,frozen
1,Organic Broccoli Florets,704,20995,116,frozen produce,1,frozen
2,Organic Whole Strawberries,698,24489,116,frozen produce,1,frozen
3,Frozen Organic Wild Blueberries,652,17948,116,frozen produce,1,frozen
4,Pineapple Chunks,477,46802,116,frozen produce,1,frozen
...,...,...,...,...,...,...,...
2856,"Egg, Bacon & Cheese Breakfast Taquitos",1,9676,34,frozen meat seafood,1,frozen
2857,Egg With Sausage And Cheese Burrito,1,26213,38,frozen meals,1,frozen
2858,Sausage Pepperoni Pizza,1,8973,79,frozen pizza,1,frozen
2859,Sausage Scrambles,1,17058,52,frozen breakfast,1,frozen
2860,with Sweet & Smoky BBQ Sauce Cheeseburger Sliders,1,22156,129,frozen appetizers sides,1,frozen

In [58]:
# Selecting the 100 frozen items for the freezer
result_df2 = pd.DataFrame()
for index, row in aisle_info2.iterrows():
    aisle_name = row['aisle']
    amount = int(row['amount'])
    display(freezer_products[freezer_products['aisle']==aisle_name].head(amount))
    result_df2 = pd.concat([result_df2, freezer_products[freezer_products['aisle']==aisle_name].head(amount)])
result_df2

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Blueberries,1148,9076,116,frozen produce,1,frozen
1,Organic Broccoli Florets,704,20995,116,frozen produce,1,frozen
2,Organic Whole Strawberries,698,24489,116,frozen produce,1,frozen
3,Frozen Organic Wild Blueberries,652,17948,116,frozen produce,1,frozen
4,Pineapple Chunks,477,46802,116,frozen produce,1,frozen
5,Organic Frozen Peas,390,14678,116,frozen produce,1,frozen
7,Mango Chunks,371,1158,116,frozen produce,1,frozen
9,Frozen Broccoli Florets,311,28934,116,frozen produce,1,frozen
10,Berry Medley,306,40545,116,frozen produce,1,frozen
14,Organic Chopped Spinach,266,18918,116,frozen produce,1,frozen
17,Green Peas,232,32433,116,frozen produce,1,frozen
20,Organic Frozen Mango Chunks,223,2228,116,frozen produce,1,frozen
21,Organic Sliced Peaches,219,34584,116,frozen produce,1,frozen
22,Organic Mixed Vegetables,216,35887,116,frozen produce,1,frozen
29,Whole Strawberries,178,28553,116,frozen produce,1,frozen
34,Chopped Spinach,168,23236,116,frozen produce,1,frozen
36,Sweet Potatoes,165,34466,116,frozen produce,1,frozen
39,Organic Dark Sweet Cherries,151,24082,116,frozen produce,1,frozen
41,Organic Cut Green Beans,150,28123,116,frozen produce,1,frozen
42,Organic Edamame,149,31869,116,frozen produce,1,frozen
49,Organic Mango Chunks,131,26128,116,frozen produce,1,frozen
67,Organic Berry Blend,114,47492,116,frozen produce,1,frozen
75,Frozen Peaches,107,9390,116,frozen produce,1,frozen
83,Petite Brussels Sprouts,97,436,116,frozen produce,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
15,Chocolate Ice Cream,241,16965,37,ice cream ice,1,frozen
19,Vanilla Ice Cream,224,32691,37,ice cream ice,1,frozen
32,Chocolate Chip Cookie Dough Ice Cream,171,12276,37,ice cream ice,1,frozen
44,Ice Cream Sandwiches Vanilla,141,38274,37,ice cream ice,1,frozen
50,Sea Salt Caramel Gelato,130,41319,37,ice cream ice,1,frozen
55,Strawberry Ice Cream,123,40002,37,ice cream ice,1,frozen
58,Organic Vanilla Bean Ice Cream,120,23554,37,ice cream ice,1,frozen
59,Mediterranean Mint Gelato,120,20754,37,ice cream ice,1,frozen
64,Americone Dream® Ice Cream,116,45681,37,ice cream ice,1,frozen
70,Half Baked® Ice Cream,109,46175,37,ice cream ice,1,frozen
74,Caramel Cookie Crunch Gelato,107,13885,37,ice cream ice,1,frozen
77,Mint Chip,104,2361,37,ice cream ice,1,frozen
79,Vanilla Bean Light Ice Cream,101,21463,37,ice cream ice,1,frozen
81,Tahitian Vanilla Bean Gelato,98,24231,37,ice cream ice,1,frozen
86,Watermelon Agave Frozen Pops,93,10199,37,ice cream ice,1,frozen
91,Birthday Cake Light Ice Cream,90,48523,37,ice cream ice,1,frozen
92,Vanilla Milk Chocolate Almond Ice Cream Bars,89,8638,37,ice cream ice,1,frozen
93,Natural Vanilla Ice Cream,87,45061,37,ice cream ice,1,frozen
96,Coconut Almond Minis Frozen Dessert Bars,85,47652,37,ice cream ice,1,frozen
102,Cherry Garcia Ice Cream,81,47993,37,ice cream ice,1,frozen
104,Coffee Ice Cream,80,17334,37,ice cream ice,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
8,Macaroni & Cheese,342,42450,38,frozen meals,1,frozen
12,Organic Brown Rice,296,49075,38,frozen meals,1,frozen
26,Pesto Tortellini Bowls,185,34217,38,frozen meals,1,frozen
37,Organic Beans & Rice Cheddar Cheese Burrito,159,47792,38,frozen meals,1,frozen
47,Broccoli & Cheddar Bake Meal Bowl,135,9124,38,frozen meals,1,frozen
56,Organic Jasmine Rice,122,39121,38,frozen meals,1,frozen
57,Bean & Cheese Burrito,122,26914,38,frozen meals,1,frozen
60,Pad Thai,118,45613,38,frozen meals,1,frozen
65,Chicken Pot Pie,115,13966,38,frozen meals,1,frozen
72,Organic Gluten Free Non-Dairy Beans & Rice Bur...,107,49416,38,frozen meals,1,frozen
80,Butternut Squash Ravioli,98,43908,38,frozen meals,1,frozen
95,Light and Lean Quinoa Black Beans with Buttern...,85,49273,38,frozen meals,1,frozen
97,Cheese Enchilada Meal,84,3717,38,frozen meals,1,frozen
98,Kitchen Cheese Enchilada,82,22559,38,frozen meals,1,frozen
99,Cheddar Cheese Burrito,82,30135,38,frozen meals,1,frozen
101,Light & Lean Spinach Lasagna,81,24631,38,frozen meals,1,frozen
111,Gluten and Dairy Free Rice Macaroni and Cheeze,76,14126,38,frozen meals,1,frozen
118,Organic Chicken Pot Pie,72,8929,38,frozen meals,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
6,Chicken & Maple Breakfast Sausage,378,37158,52,frozen breakfast,1,frozen
16,Organic Multigrain Waffles,234,9825,52,frozen breakfast,1,frozen
25,Natural Classic Pork Breakfast Sausage,190,9515,52,frozen breakfast,1,frozen
27,Organic Homestyle Waffles,181,25753,52,frozen breakfast,1,frozen
28,Eggo Homestyle Waffles,178,30696,52,frozen breakfast,1,frozen
31,Naturals Savory Turkey Breakfast Sausage,175,311,52,frozen breakfast,1,frozen
35,Organic Blueberry Waffles,166,2326,52,frozen breakfast,1,frozen
46,Gluten Free Blueberry Waffles,135,17807,52,frozen breakfast,1,frozen
48,Wheat Gluten Free Waffles,134,24010,52,frozen breakfast,1,frozen
62,Organic Mini Homestyle Waffles,117,162,52,frozen breakfast,1,frozen
68,Organic All Natural Blueberry Mini Waffles,110,20327,52,frozen breakfast,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
24,Naturals Chicken Nuggets,199,2452,129,frozen appetizers sides,1,frozen
30,Cheese Pizza Snacks,178,31766,129,frozen appetizers sides,1,frozen
33,Air Chilled Breaded Chicken Breast Nuggets,169,17652,129,frozen appetizers sides,1,frozen
38,Chicken Breast Tenders Breaded,156,11440,129,frozen appetizers sides,1,frozen
40,Kidz All Natural Baked Chicken Nuggets,151,1215,129,frozen appetizers sides,1,frozen
45,Shredded Hash Browns,137,48171,129,frozen appetizers sides,1,frozen
52,Sweet Potato Fries with Sea Salt,129,46346,129,frozen appetizers sides,1,frozen
63,Organic Yukon Select Fries,116,14881,129,frozen appetizers sides,1,frozen
76,Shoestring Fries,106,48720,129,frozen appetizers sides,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
13,Organic Cheese Frozen Pizza,273,24561,79,frozen pizza,1,frozen
23,Thin Crust Pepperoni Pizza,199,20345,79,frozen pizza,1,frozen
51,Margherita Pizza,130,5449,79,frozen pizza,1,frozen
53,Cheese Pizza,129,9741,79,frozen pizza,1,frozen
54,Four Cheese Thin Crust Pizza,127,5959,79,frozen pizza,1,frozen
71,Spinach Pizza,109,8022,79,frozen pizza,1,frozen
82,Pizza 4 Cheese,98,8012,79,frozen pizza,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
43,Seven Grain Crispy Tenders,143,38944,42,frozen vegan vegetarian,1,frozen
87,California Veggie Burgers - 4 CT,93,45364,42,frozen vegan vegetarian,1,frozen
105,Beyond Beef Beefy Crumble,80,2979,42,frozen vegan vegetarian,1,frozen
116,Chik'n Nuggets,73,15950,42,frozen vegan vegetarian,1,frozen
130,"The \""World's Best\"" Veggie Burger",66,2002,42,frozen vegan vegetarian,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
18,Organic Chicken Strips,225,43504,34,frozen meat seafood,1,frozen
61,Gluten-Free Chicken Nuggets,117,12144,34,frozen meat seafood,1,frozen
66,Natural Chicken & Maple Breakfast Sausage Patty,114,48287,34,frozen meat seafood,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
11,Gluten Free Whole Grain Bread,299,7963,58,frozen breads doughs,1,frozen
125,Pizza Dough,68,18908,58,frozen breads doughs,1,frozen

,product_name,count,product_id,aisle_id,aisle,department_id,department
85,Dark Chocolate Covered Banana,93,43889,119,frozen dessert,1,frozen

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Blueberries,1148,9076,116,frozen produce,1,frozen
1,Organic Broccoli Florets,704,20995,116,frozen produce,1,frozen
2,Organic Whole Strawberries,698,24489,116,frozen produce,1,frozen
3,Frozen Organic Wild Blueberries,652,17948,116,frozen produce,1,frozen
4,Pineapple Chunks,477,46802,116,frozen produce,1,frozen
...,...,...,...,...,...,...,...
61,Gluten-Free Chicken Nuggets,117,12144,34,frozen meat seafood,1,frozen
66,Natural Chicken & Maple Breakfast Sausage Patty,114,48287,34,frozen meat seafood,1,frozen
11,Gluten Free Whole Grain Bread,299,7963,58,frozen breads doughs,1,frozen
125,Pizza Dough,68,18908,58,frozen breads doughs,1,frozen
85,Dark Chocolate Covered Banana,93,43889,119,frozen dessert,1,frozen

Next, 100 items to put in the fridge.

In [59]:
train_fridge

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
7,1,22035,Organic Whole String Cheese,21,packaged cheese,16,dairy eggs
8,2,33120,Organic Egg Whites,86,eggs,16,dairy eggs
40,5,47329,Fresh Fruit Salad,1,prepared soups salads,20,deli
...,...,...,...,...,...,...,...
987218,99997,19348,Fat Free Milk,84,milk,16,dairy eggs
987229,99997,3457,Swedish Style Non-Fat Drinkable Yogurt Plain,120,yogurt,16,dairy eggs
987233,99997,40962,Mediterranee Cappuccino Yogurt,120,yogurt,16,dairy eggs
987253,100000,30489,Original Hummus,67,fresh dips tapenades,20,deli
987254,100000,30169,Total 2% All Natural Plain Greek Yogurt,120,yogurt,16,dairy eggs

In [60]:
fridge_df['aisle'].value_counts()

aisle
yogurt                           43857
packaged cheese                  29770
milk                             26942
soy lactosefree                  19566
eggs                             13874
lunch meat                       12003
fresh dips tapenades             10814
cream                             9592
other creams cheeses              9374
hot dogs bacon sausage            9268
butter                            7744
tofu meat alternatives            4086
poultry counter                   3912
packaged poultry                  3618
prepared meals                    2892
specialty cheeses                 2575
prepared soups salads             2213
meat counter                      2158
refrigerated pudding desserts     1174
packaged meat                     1051
seafood counter                    930
packaged seafood                   651
Name: count, dtype: int64

In [61]:
# finding the amount of items ordered for each aisle
aisle_info3 = train_fridge.groupby('aisle').size().reset_index(name='count').sort_values(by='count', ascending=False)
aisle_info3

                            aisle  count
21                         yogurt  29680
9                 packaged cheese  20230
7                            milk  16517
18                soy lactosefree  12285
2                            eggs   8862
5                      lunch meat   8191
3            fresh dips tapenades   7129
8            other creams cheeses   6330
4          hot dogs bacon sausage   6214
1                           cream   5874
0                          butter   5001
20         tofu meat alternatives   2796
13                poultry counter   2577
11               packaged poultry   2346
14                 prepared meals   1794
19              specialty cheeses   1681
15          prepared soups salads   1386
6                    meat counter   1374
16  refrigerated pudding desserts    764
10                  packaged meat    664
17                seafood counter    598
12               packaged seafood    420

In [62]:
aisle_info3['percentage']=(aisle_info3['count']/train_fridge.shape[0])*100
aisle_info3

                            aisle  count  percentage
21                         yogurt  29680   20.796984
9                 packaged cheese  20230   14.175303
7                            milk  16517   11.573578
18                soy lactosefree  12285    8.608186
2                            eggs   8862    6.209666
5                      lunch meat   8191    5.739491
3            fresh dips tapenades   7129    4.995340
8            other creams cheeses   6330    4.435475
4          hot dogs bacon sausage   6214    4.354193
1                           cream   5874    4.115953
0                          butter   5001    3.504236
20         tofu meat alternatives   2796    1.959177
13                poultry counter   2577    1.805722
11               packaged poultry   2346    1.643859
14                 prepared meals   1794    1.257068
19              specialty cheeses   1681    1.177888
15          prepared soups salads   1386    0.971180
6                    meat counter   1374    0.962771
16  refrigerated pudding desserts    764    0.535340
10                  packaged meat    664    0.465269
17                seafood counter    598    0.419023
12               packaged seafood    420    0.294297

In [63]:
# calculating amount allocation for each aisle
aisle_info3['amount'] = round(aisle_info3['percentage']/100*100)
aisle_info3

                            aisle  count  percentage  amount
21                         yogurt  29680   20.796984    21.0
9                 packaged cheese  20230   14.175303    14.0
7                            milk  16517   11.573578    12.0
18                soy lactosefree  12285    8.608186     9.0
2                            eggs   8862    6.209666     6.0
5                      lunch meat   8191    5.739491     6.0
3            fresh dips tapenades   7129    4.995340     5.0
8            other creams cheeses   6330    4.435475     4.0
4          hot dogs bacon sausage   6214    4.354193     4.0
1                           cream   5874    4.115953     4.0
0                          butter   5001    3.504236     4.0
20         tofu meat alternatives   2796    1.959177     2.0
13                poultry counter   2577    1.805722     2.0
11               packaged poultry   2346    1.643859     2.0
14                 prepared meals   1794    1.257068     1.0
19              specialty cheeses   1681    1.177888     1.0
15          prepared soups salads   1386    0.971180     1.0
6                    meat counter   1374    0.962771     1.0
16  refrigerated pudding desserts    764    0.535340     1.0
10                  packaged meat    664    0.465269     0.0
17                seafood counter    598    0.419023     0.0
12               packaged seafood    420    0.294297     0.0

In [64]:
# Checking if the amount allocated is equal to 100 and not 101 or 99 due to rounding error
aisle_info3['amount'].sum()

100.0

Since there is 99, 1 more item needs to be added which will be a packaged meat rounded from 0 to 1.

In [65]:
# finding the aisle with an amount of 1 and least amount of orders
first_row = aisle_info3[aisle_info3['amount']==0].iloc[0]
first_row[0]

'packaged meat'

In [66]:
aisle_info3.loc[aisle_info3['aisle'] == first_row[0], 'amount'] = 1
aisle_info3['amount'].sum()

101.0

In [67]:
fridge_products=train_fridge.groupby('product_name').size().reset_index(name='count').sort_values(by='count', ascending=False)
fridge_products

                           product_name  count
2826                 Organic Whole Milk   2572
2898                    Original Hummus   1468
2594                Organic Half & Half   1450
1610                        Half & Half   1306
2835        Organic Whole String Cheese   1271
...                                 ...    ...
1040   Dairy Pure Whole Milk +Vitamin D      1
3315                    Roasted Chicken      1
3313            Roasted Brussel Sprouts      1
3311  Roast Turkey Breast Slices Turkey      1
4344                      pumpkin spice      1

[4345 rows x 2 columns]

In [68]:
product_mapping = train_fridge[['product_id', 'product_name', 'aisle_id', 'aisle', 'department_id', 'department']]
product_mapping = product_mapping.drop_duplicates(subset='product_name')
fridge_products = fridge_products.merge(product_mapping, on='product_name', how='left')
fridge_products

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Organic Whole Milk,2572,27845,84,milk,16,dairy eggs
1,Original Hummus,1468,30489,67,fresh dips tapenades,20,deli
2,Organic Half & Half,1450,49235,53,cream,16,dairy eggs
3,Half & Half,1306,27086,53,cream,16,dairy eggs
4,Organic Whole String Cheese,1271,22035,21,packaged cheese,16,dairy eggs
...,...,...,...,...,...,...,...
4340,Dairy Pure Whole Milk +Vitamin D,1,48846,84,milk,16,dairy eggs
4341,Roasted Chicken,1,15586,13,prepared meals,20,deli
4342,Roasted Brussel Sprouts,1,15552,13,prepared meals,20,deli
4343,Roast Turkey Breast Slices Turkey,1,13773,96,lunch meat,20,deli
4344,pumpkin spice,1,12821,53,cream,16,dairy eggs

In [69]:
# Selecting the 100 items for the fridge
result_df3 = pd.DataFrame()
for index, row in aisle_info3.iterrows():
    aisle_name = row['aisle']
    amount = int(row['amount'])
    display(fridge_products[fridge_products['aisle']==aisle_name].head(amount))
    result_df3 = pd.concat([result_df3, fridge_products[fridge_products['aisle']==aisle_name].head(amount)])
result_df3

,product_name,count,product_id,aisle_id,aisle,department_id,department
22,Total 2% with Strawberry Lowfat Greek Strained...,653,33754,120,yogurt,16,dairy eggs
33,Total 0% Nonfat Greek Yogurt,536,46676,120,yogurt,16,dairy eggs
34,Total Greek Strained Yogurt,517,39475,120,yogurt,16,dairy eggs
38,Total 0% Greek Yogurt,502,20842,120,yogurt,16,dairy eggs
41,Total 2% All Natural Greek Strained Yogurt wit...,468,18523,120,yogurt,16,dairy eggs
44,"YoKids Squeezers Organic Low-Fat Yogurt, Straw...",447,17600,120,yogurt,16,dairy eggs
46,Total 2% Lowfat Greek Strained Yogurt With Blu...,440,4957,120,yogurt,16,dairy eggs
50,Total 2% Lowfat Greek Strained Yogurt with Peach,425,33787,120,yogurt,16,dairy eggs
60,Icelandic Style Skyr Blueberry Non-fat Yogurt,375,28465,120,yogurt,16,dairy eggs
61,Total 2% Greek Strained Yogurt with Cherry 5.3 oz,373,40571,120,yogurt,16,dairy eggs
63,Total 2% Lowfat Plain Greek Yogurt,353,17872,120,yogurt,16,dairy eggs
67,Total 2% All Natural Plain Greek Yogurt,343,30169,120,yogurt,16,dairy eggs
68,Total 2% All Natural Low Fat 2% Milkfat Greek ...,337,42244,120,yogurt,16,dairy eggs
71,Vanilla Skyr Nonfat Yogurt,332,24799,120,yogurt,16,dairy eggs
76,Non Fat Raspberry Yogurt,321,36865,120,yogurt,16,dairy eggs
82,Total 0% Nonfat Plain Greek Yogurt,293,28156,120,yogurt,16,dairy eggs
84,Whole Milk Plain Yogurt,285,6104,120,yogurt,16,dairy eggs
90,Organic Plain Whole Milk Yogurt,276,42445,120,yogurt,16,dairy eggs
105,Organic Plain Greek Whole Milk Yogurt,256,25138,120,yogurt,16,dairy eggs
106,Plain Greek Yogurt,256,11422,120,yogurt,16,dairy eggs
111,YoKids Blueberry & Strawberry/Vanilla Yogurt,250,46584,120,yogurt,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
4,Organic Whole String Cheese,1271,22035,21,packaged cheese,16,dairy eggs
7,Grated Parmesan,962,33731,21,packaged cheese,16,dairy eggs
12,Shredded Parmesan,775,4799,21,packaged cheese,16,dairy eggs
15,Feta Cheese Crumbles,690,40604,21,packaged cheese,16,dairy eggs
17,Organic Sticks Low Moisture Part Skim Mozzarel...,682,7781,21,packaged cheese,16,dairy eggs
27,Shredded Mild Cheddar Cheese,575,31343,21,packaged cheese,16,dairy eggs
28,Sharp Cheddar Cheese,570,16185,21,packaged cheese,16,dairy eggs
48,Shredded Mozzarella,439,29987,21,packaged cheese,16,dairy eggs
53,Organic Mexican Blend Finely Shredded Cheese,407,41665,21,packaged cheese,16,dairy eggs
55,Organic Shredded Mozzarella,386,18370,21,packaged cheese,16,dairy eggs
56,Organic American Cheese Singles,383,10132,21,packaged cheese,16,dairy eggs
74,Mini Original Babybel Cheese,325,6348,21,packaged cheese,16,dairy eggs
107,Goat Cheese Crumbles,256,33401,21,packaged cheese,16,dairy eggs
114,Colby Cheese Sticks,243,44765,21,packaged cheese,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Organic Whole Milk,2572,27845,84,milk,16,dairy eggs
9,Organic Reduced Fat 2% Milk,903,5785,84,milk,16,dairy eggs
18,2% Reduced Fat Milk,682,23909,84,milk,16,dairy eggs
23,Whole Milk,639,4210,84,milk,16,dairy eggs
24,Organic Reduced Fat Milk,637,38689,84,milk,16,dairy eggs
35,Fat Free Milk,507,19348,84,milk,16,dairy eggs
37,Organic Milk,505,1463,84,milk,16,dairy eggs
39,Organic Fat Free Milk,501,36011,84,milk,16,dairy eggs
51,Organic 2% Reduced Fat Milk,410,1940,84,milk,16,dairy eggs
57,"Milk, Organic, Vitamin D",382,29447,84,milk,16,dairy eggs
81,2% Reduced Fat Organic Milk,295,40174,84,milk,16,dairy eggs
85,Organic Whole Grassmilk Milk,279,329,84,milk,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
5,Organic Unsweetened Almond Milk,1048,35951,91,soy lactosefree,16,dairy eggs
8,Unsweetened Almondmilk,953,24838,91,soy lactosefree,16,dairy eggs
16,Unsweetened Original Almond Breeze Almond Milk,688,47144,91,soy lactosefree,16,dairy eggs
30,Vanilla Almond Breeze Almond Milk,552,432,91,soy lactosefree,16,dairy eggs
31,Organic Coconut Milk,546,25659,91,soy lactosefree,16,dairy eggs
36,Unsweetened Vanilla Almond Milk,506,43295,91,soy lactosefree,16,dairy eggs
72,Organic Unsweetened Vanilla Almond Milk,331,14084,91,soy lactosefree,16,dairy eggs
97,Original Pure Creamy Almond Milk,266,19677,91,soy lactosefree,16,dairy eggs
104,Organic Whipped Naturally Buttery Spread,256,7175,91,soy lactosefree,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
11,Organic Grade A Free Range Large Brown Eggs,813,18465,86,eggs,16,dairy eggs
13,Large Alfresco Eggs,773,11520,86,eggs,16,dairy eggs
19,Organic Large Brown Grade AA Cage Free Eggs,676,30233,86,eggs,16,dairy eggs
40,Organic Large Grade AA Brown Eggs,498,32655,86,eggs,16,dairy eggs
59,Organic Egg Whites,379,33120,86,eggs,16,dairy eggs
73,Organic Grade A Large Brown Eggs,330,46654,86,eggs,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
10,Uncured Genoa Salami,887,27344,96,lunch meat,20,deli
26,Organic Roasted Turkey Breast,607,22963,96,lunch meat,20,deli
52,Oven Roasted Turkey Breast,410,40310,96,lunch meat,20,deli
65,Roasted Turkey Breast,347,42342,96,lunch meat,20,deli
89,Uncured Slow Cooked Ham,276,19019,96,lunch meat,20,deli
99,Organic Roasted Sliced Chicken Breast,264,36735,96,lunch meat,20,deli

,product_name,count,product_id,aisle_id,aisle,department_id,department
1,Original Hummus,1468,30489,67,fresh dips tapenades,20,deli
66,Roasted Red Pepper Hummus,344,21019,67,fresh dips tapenades,20,deli
69,Guacamole,333,40396,67,fresh dips tapenades,20,deli
75,Lemon Hummus,324,13646,67,fresh dips tapenades,20,deli
83,Organic Original Hommus,287,2825,67,fresh dips tapenades,20,deli

,product_name,count,product_id,aisle_id,aisle,department_id,department
25,Whipped Cream Cheese,629,42828,108,other creams cheeses,16,dairy eggs
29,Organic Sour Cream,569,42701,108,other creams cheeses,16,dairy eggs
47,Sour Cream,439,23734,108,other creams cheeses,16,dairy eggs
103,Cream Cheese Spread,258,37029,108,other creams cheeses,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
45,Uncured Hickory Smoked Sunday Bacon,444,47672,106,hot dogs bacon sausage,12,meat seafood
70,Organic Beef Hot Dogs,332,45633,106,hot dogs bacon sausage,12,meat seafood
77,Natural Chicken & Sage Breakfast Sausage,318,27695,106,hot dogs bacon sausage,12,meat seafood
78,Organic Turkey Bacon,313,5646,106,hot dogs bacon sausage,12,meat seafood

,product_name,count,product_id,aisle_id,aisle,department_id,department
2,Organic Half & Half,1450,49235,53,cream,16,dairy eggs
3,Half & Half,1306,27086,53,cream,16,dairy eggs
43,Organic Heavy Whipping Cream,453,18531,53,cream,16,dairy eggs
62,Heavy Whipping Cream,367,44987,53,cream,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
14,Unsalted Butter,737,42736,36,butter,16,dairy eggs
20,Pure Irish Butter,670,33000,36,butter,16,dairy eggs
49,Organic Unsalted Butter,427,7948,36,butter,16,dairy eggs
54,Unsalted Pure Irish Butter,392,2078,36,butter,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
21,Organic Extra Firm Tofu,655,42585,14,tofu meat alternatives,20,deli
127,Firm Tofu,225,41588,14,tofu meat alternatives,20,deli

,product_name,count,product_id,aisle_id,aisle,department_id,department
32,Ground Turkey Breast,541,38293,35,poultry counter,12,meat seafood
42,Boneless Skinless Chicken Breast,455,6046,35,poultry counter,12,meat seafood

,product_name,count,product_id,aisle_id,aisle,department_id,department
6,Boneless Skinless Chicken Breasts,965,25890,49,packaged poultry,12,meat seafood
220,Boneless Skinless Chicken Breast Fillets,143,27360,49,packaged poultry,12,meat seafood

,product_name,count,product_id,aisle_id,aisle,department_id,department
235,Original Rotisserie Chicken,138,28373,13,prepared meals,20,deli

,product_name,count,product_id,aisle_id,aisle,department_id,department
139,Fresh Mozzarella Ball,210,37524,2,specialty cheeses,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
283,Tuna Salad,112,26047,1,prepared soups salads,20,deli

,product_name,count,product_id,aisle_id,aisle,department_id,department
116,85% Lean Ground Beef,239,13198,122,meat counter,12,meat seafood

,product_name,count,product_id,aisle_id,aisle,department_id,department
469,Original Recipe Rice Pudding,68,32981,71,refrigerated pudding desserts,16,dairy eggs

,product_name,count,product_id,aisle_id,aisle,department_id,department
168,Organic Chicken Thighs,178,34530,7,packaged meat,12,meat seafood

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

Empty DataFrame
Columns: [product_name, count, product_id, aisle_id, aisle, department_id, department]
Index: []

,product_name,count,product_id,aisle_id,aisle,department_id,department
22,Total 2% with Strawberry Lowfat Greek Strained...,653,33754,120,yogurt,16,dairy eggs
33,Total 0% Nonfat Greek Yogurt,536,46676,120,yogurt,16,dairy eggs
34,Total Greek Strained Yogurt,517,39475,120,yogurt,16,dairy eggs
38,Total 0% Greek Yogurt,502,20842,120,yogurt,16,dairy eggs
41,Total 2% All Natural Greek Strained Yogurt wit...,468,18523,120,yogurt,16,dairy eggs
...,...,...,...,...,...,...,...
139,Fresh Mozzarella Ball,210,37524,2,specialty cheeses,16,dairy eggs
283,Tuna Salad,112,26047,1,prepared soups salads,20,deli
116,85% Lean Ground Beef,239,13198,122,meat counter,12,meat seafood
469,Original Recipe Rice Pudding,68,32981,71,refrigerated pudding desserts,16,dairy eggs
168,Organic Chicken Thighs,178,34530,7,packaged meat,12,meat seafood

Now that there 800 items have been selected for the aisle, 100 for the freezer and 100 for the fridge, these items need to be put all in one list and combined to compare with a combined test_aisle, test_freezer, and test_fridge.

In [70]:
full_aisle = pd.concat([result_df, result_df2, result_df3])

In [71]:
full_aisle

,product_name,count,product_id,aisle_id,aisle,department_id,department
0,Banana,9028,24852,24,fresh fruits,4,produce
1,Bag of Organic Bananas,7152,13176,24,fresh fruits,4,produce
2,Organic Strawberries,5233,21137,24,fresh fruits,4,produce
4,Organic Hass Avocado,4282,47209,24,fresh fruits,4,produce
5,Organic Avocado,3493,47766,24,fresh fruits,4,produce
...,...,...,...,...,...,...,...
139,Fresh Mozzarella Ball,210,37524,2,specialty cheeses,16,dairy eggs
283,Tuna Salad,112,26047,1,prepared soups salads,20,deli
116,85% Lean Ground Beef,239,13198,122,meat counter,12,meat seafood
469,Original Recipe Rice Pudding,68,32981,71,refrigerated pudding desserts,16,dairy eggs
168,Organic Chicken Thighs,178,34530,7,packaged meat,12,meat seafood

In [72]:
test = pd.concat([test_aisle,test_freezer,test_fridge])
test

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
19,3,17704,Lemons,123,packaged vegetables fruits,4,produce
20,3,21903,Organic Baby Spinach,123,packaged vegetables fruits,4,produce
22,3,46667,Organic Ginger Root,83,fresh vegetables,4,produce
24,3,32665,Organic Ezekiel 49 Bread Cinnamon Raisin,112,bread,3,bakery
64,6,40462,Cleanse,31,refrigerated,7,beverages
...,...,...,...,...,...,...,...
987213,99996,26900,USDA AA Extra Large Eggs,86,eggs,16,dairy eggs
987240,99999,36186,Large Grade AA Organic Eggs,86,eggs,16,dairy eggs
987241,99999,10034,Reduced Fat Mozarella String Cheese,21,packaged cheese,16,dairy eggs
987242,99999,44085,Vanilla Light & Fit Greek Yogurt,120,yogurt,16,dairy eggs
987243,99999,9558,Non-Fat Vanilla Blended Greek Yogurt,120,yogurt,16,dairy eggs

In [73]:
# join the test data with my pick on 'product_id'
test_my_pick = test.merge(full_aisle, on='product_id', how='left')

# group by 'order_id' and count the non-null values of 'product_name_y' column
metrics_tmp = test_my_pick[['order_id', 'product_name_y']].groupby('order_id').count().reset_index().rename(columns={'product_name_y': "num_prod_matching"})
metrics_tmp.head()

   order_id  num_prod_matching
0         3                  4
1         6                  0
2         8                  0
3         9                  8
4        11                  2

In [74]:
pd.concat([train_aisle, train_freezer, train_fridge])['order_id'].nunique()

48599

In [77]:
# calculate the average number of items in each order
avg_item = len(test) / tot_order
print(f"Average number of items in each order: {avg_item}")

Average number of items in each order: 6.907157655278873

In [75]:
# calculate total unique orders in the test data
tot_order = test['order_id'].nunique()
print(f"Total number of orders: {tot_order}")

Total number of orders: 49234

In [76]:
# calculate metric 1
# count orders with at least a match
metric_1 = len(metrics_tmp[metrics_tmp['num_prod_matching']>0])
print(f"{metric_1} of them utilize the in-aisle items. That's about {metric_1/tot_order*100:.2f}%.")

42084 of them utilize the in-aisle items. That's about 85.48%.

In [78]:
# calculate metric 2
metric_2 = metrics_tmp['num_prod_matching'].sum() / len(metrics_tmp)
print(f"On average there are {avg_item:.2f} items in each order, and {metric_2:.2f} of them utilize in-aisle items. That's about {metric_2/avg_item*100:.2f}%")

On average there are 6.91 items in each order, and 3.45 of them utilize in-aisle items. That's about 50.00%